Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

test fix lanraragi
  kubernetes/main/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes, cluster/main

update lanraragi
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test versioning for lanraragi
  .github/renovate/packageRules.json5
Labels: area/github

undo
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update lanraragi
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

run renovate once per day
  .github/workflows/renovate.yaml
Labels: area/github

fix lanraragi regex
  .github/renovate/packageRules.json5
Labels: area/github

fix lanararagi
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

archive codex and komga
  .archive/media/codex/app/helmrelease.yaml
  .archive/media/codex/app/kustomization.yaml
  .archive/media/codex/ks.yaml
  .archive/media/komga/app/helmrelease.yaml
  .archive/media/komga/app/kustomization.yaml
  .archive/media/komga/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

test flux update of HR
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

will things work with blocky?
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

rename templates to components
  kubernetes/main/components/alerts/alert.yaml
  kubernetes/main/components/alerts/kustomization.yaml
  kubernetes/main/components/alerts/provider.yaml
  kubernetes/main/components/gatus/external/configmap.yaml
  kubernetes/main/components/gatus/external/kustomization.yaml
  kubernetes/main/components/gatus/guarded/configmap.yaml
  kubernetes/main/components/gatus/guarded/kustomization.yaml
  kubernetes/main/components/kustomization.yaml
  kubernetes/main/components/volsync/kustomization.yaml
  kubernetes/main/components/volsync/minio/externalsecret.yaml
  kubernetes/main/components/volsync/minio/kustomization.yaml
  kubernetes/main/components/volsync/minio/replicationdestination.yaml
  kubernetes/main/components/volsync/minio/replicationsource.yaml
  kubernetes/main/components/volsync/pvc.yaml
  kubernetes/main/components/volsync/r2/externalsecret.yaml
  kubernetes/main/components/volsync/r2/kustomization.yaml
  kubernetes/main/components/volsync/r2/replicationsource.yaml
  kubernetes/main/components/volsync/readme.md
Labels: area/kubernetes, cluster/main

add files for dnss cluster webhook but don't enable.
  kubernetes/dns/apps/flux-system/add-ons/dashboard/kustomization.yaml
  kubernetes/dns/apps/flux-system/add-ons/dashboard/podmonitor.yaml
  kubernetes/dns/apps/flux-system/add-ons/dashboard/prometheusrule.yaml
  kubernetes/dns/apps/flux-system/add-ons/ks.yaml
  kubernetes/dns/apps/flux-system/add-ons/kustomization.yaml
  kubernetes/dns/apps/flux-system/add-ons/notifications/discord/kustomization.yaml
  kubernetes/dns/apps/flux-system/add-ons/notifications/discord/notification.yaml
  kubernetes/dns/apps/flux-system/add-ons/notifications/discord/secret.sops.yaml
  kubernetes/dns/apps/flux-system/add-ons/notifications/kustomization.yaml
  kubernetes/dns/apps/flux-system/add-ons/webhook/github/externalsecret.yaml
  kubernetes/dns/apps/flux-system/add-ons/webhook/github/ingress.yaml
  kubernetes/dns/apps/flux-system/add-ons/webhook/github/kustomization.yaml
  kubernetes/dns/apps/flux-system/add-ons/webhook/github/receiver.yaml
  kubernetes/dns/apps/flux-system/add-ons/webhook/kustomization.yaml
  kubernetes/dns/apps/flux-system/kustomization.yaml
  kubernetes/dns/apps/flux-system/namespace.yaml
Labels: area/kubernetes

fix blocky scrape
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/main

enable silencer operator
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/main/apps/observability/silence-operator/crds/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/crds/kustomization.yaml
  kubernetes/main/apps/observability/silence-operator/ks.yaml
  kubernetes/main/flux/repositories/helm/controlplaneio.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/wiremind.yaml
Labels: area/kubernetes, cluster/main

fix folder error
  kubernetes/main/apps/databases/pgadmin/app/kustomization.yaml
  kubernetes/main/apps/dev/atuin/app/kustomization.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/main/apps/dev/vscode/app/kustomization.yaml
  kubernetes/main/apps/downloads/animarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/main/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/overseerr/app/kustomization.yaml
  kubernetes/main/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/readarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/recyclarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/main/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/media/calibre-web/app/kustomization.yaml
  kubernetes/main/apps/media/calibre/app/kustomization.yaml
  kubernetes/main/apps/media/lanraragi/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/tautulli/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/cyberchef/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/kustomization.yaml
  kubernetes/main/apps/selfhosted/ocis/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/redlib/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/teddit/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/whoogle/app/kustomization.yaml
  kubernetes/main/components/volsync/readme.md
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/observability/silence-operator/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/observability/silence-operator/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/observability/silence-operator/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

disable theme-park on readarr
  kubernetes/main/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/main/apps/databases/emqx/cluster/gatus.yaml
  kubernetes/main/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/downloads/readarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable theme-park on sonarr
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update action runner system
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/main

fix action runner
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes, cluster/main

update email domains
  infrastructure/terraform/cloudflare/domain_hardware.tf
  infrastructure/terraform/cloudflare/domain_ingress.tf
Labels: none

add cwa
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web-automated/app/kustomization.yaml
  kubernetes/main/apps/media/calibre-web-automated/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix controller name
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update version schema
  .github/renovate/packageRules.json5
Labels: area/github

test fix cwa
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix cwa
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/media/calibre-web-automated/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use staging cert for testing
  kubernetes/main/apps/network/nginx/certificates/certificates.yaml
Labels: area/kubernetes, cluster/main

fix all ks files
  kubernetes/main/action-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/action-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/action-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/dev/namespace.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/namespace.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/namespace.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/home-automation/namespace.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/kyverno/namespace.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/network/namespace.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/openebs/namespace.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/rook-ceph/namespace.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/namespace.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/namespace.yaml
  kubernetes/main/components/namespace/kustomization.yaml
  kubernetes/main/components/namespace/namespace.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

oops2
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

more flux operator updates
  kubernetes/main/apps/databases/pgadmin/ks.yaml
  kubernetes/main/apps/dev/atuin/ks.yaml
  kubernetes/main/apps/dev/coder/app/kustomization.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/ks.yaml
  kubernetes/main/apps/dev/vscode/ks.yaml
  kubernetes/main/apps/downloads/animarr/ks.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
  kubernetes/main/apps/downloads/lidarr/ks.yaml
  kubernetes/main/apps/downloads/overseerr/ks.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/qbittorrent/ks.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
  kubernetes/main/apps/downloads/readarr/ks.yaml
  kubernetes/main/apps/downloads/recyclarr/ks.yaml
  kubernetes/main/apps/downloads/sabnzbd/ks.yaml
  kubernetes/main/apps/downloads/sonarr/ks.yaml
  kubernetes/main/apps/home-automation/frigate/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/media/calibre-web-automated/app/kustomization.yaml
  kubernetes/main/apps/media/calibre-web-automated/ks.yaml
  kubernetes/main/apps/media/calibre-web/ks.yaml
  kubernetes/main/apps/media/calibre/ks.yaml
  kubernetes/main/apps/media/lanraragi/ks.yaml
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/media/tautulli/ks.yaml
  kubernetes/main/apps/selfhosted/cyberchef/ks.yaml
  kubernetes/main/apps/selfhosted/immich/ks.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
  kubernetes/main/apps/selfhosted/teddit/ks.yaml
  kubernetes/main/apps/selfhosted/whoogle/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
