Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

big oops
  kubernetes/apps/ai/open-webui/app/helmrelease.yaml
  kubernetes/apps/ai/paperless-ai/app/helmrelease.yaml
  kubernetes/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/apps/databases/pgadmin/app/helmrelease.yaml
  kubernetes/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/openspeedtest/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/apps/selfhosted/teddit/app/helmrelease.yaml
  kubernetes/apps/system/kopia/app/helmrelease.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

fix authentik
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
Labels: area/kubernetes

update envoy gateway
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

update plex settings
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

update spegel
  kubernetes/apps/system/spegel/app/ocirepository.yaml
Labels: area/kubernetes

fix cloudflared
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

update cloudflard
  kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
Labels: area/kubernetes

fix oops
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

fix oops2
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

fix oops3
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

enable tuppr for kubernetes
  kubernetes/apps/system-upgrade/tuppr/ks.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetes.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
Labels: area/kubernetes

fix webhook receiver
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
Labels: area/kubernetes

enable talos upgrade plan
  kubernetes/apps/system-upgrade/tuppr/upgrades/kustomization.yaml
Labels: area/kubernetes

test talos upgrade plan
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes

update authentik terraform
  .envrc
  .pre-commit-config.yaml
  infrastructure/terraform/authentik/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  kubernetes/apps/home/frigate/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/components/authentik-proxy/kustomization.yaml
  kubernetes/components/authentik-proxy/securitypolicy.yaml
  terraform/.envrc
  terraform/authentik/.terraform.lock.hcl
  terraform/authentik/applications.tofu
  terraform/authentik/customization.tofu
  terraform/authentik/directory.tofu
  terraform/authentik/expressions/openid-scope-nextcloud.py
  terraform/authentik/expressions/openid-scope-profile.py
  terraform/authentik/expressions/user-settings-authorization.py
  terraform/authentik/expressions/user-settings-avatar-authorization.py
  terraform/authentik/flows.tofu
  terraform/authentik/main.tofu
  terraform/authentik/oauth2_application/main.tofu
  terraform/authentik/oauth2_application/variables.tofu
  terraform/authentik/proxy_application/main.tofu
  terraform/authentik/proxy_application/outputs.tofu
  terraform/authentik/proxy_application/variables.tofu
  terraform/authentik/stages-prompt_fields.tofu
  terraform/authentik/stages.tofu
  terraform/authentik/system.tofu
  terraform/authentik/variables.tofu
  terraform/cloudflare/account.tf
  terraform/cloudflare/domain_hardware.tf
  terraform/cloudflare/domain_ingress.tf
  terraform/cloudflare/locals.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/modules/cf_domain/dns.tf
  terraform/cloudflare/modules/cf_domain/firewall.tf
  terraform/cloudflare/modules/cf_domain/main.tf
  terraform/cloudflare/modules/cf_domain/outputs.tf
  terraform/cloudflare/modules/cf_domain/variables.tf
  terraform/cloudflare/providers.tf
  terraform/secrets.sops.yaml
Labels: area/kubernetes, area/terraform

fix authentik component
  kubernetes/components/authentik-proxy/securitypolicy.yaml
Labels: area/kubernetes

update intel driver module
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/frigate/ks.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/lokirule.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/ocirepository.yaml
  kubernetes/apps/system/intel-device-plugins/ks.yaml
  kubernetes/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/operator/ocirepository.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/components/gpu/kustomization.yaml
  kubernetes/components/gpu/resourceclaimtemplate.yaml
Labels: area/kubernetes

fix gpu driver access
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

fix gpu driver access
  kubernetes/components/common/namespace.yaml
Labels: area/kubernetes

don't ignore vscode settings anymore
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

disable gatus until fixed
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

manually update talos config (why won't renovate update it?)
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix component kustomization
  kubernetes/components/common/kustomization.yaml
Labels: area/kubernetes

allow database recovery from r2
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

update gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/rbac.yaml
Labels: area/kubernetes

update gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix kopia destinations
  kubernetes/components/volsync/kopia/replicationdestination.yaml
Labels: area/kubernetes

restore plex from r2
  kubernetes/apps/media/plex/ks.yaml
Labels: area/kubernetes

disable kopia for now
  kubernetes/apps/system/kustomization.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/r2/kustomization.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix lanraragi
  kubernetes/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes

don't keep as many r2 backups
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

revert to restic backups until we can figure out the issue with kopia
  kubernetes/apps/ai/ollama/ks.yaml
  kubernetes/apps/ai/open-webui/ks.yaml
  kubernetes/apps/ai/paperless-ai/ks.yaml
  kubernetes/apps/ai/swarmui/ks.yaml
  kubernetes/apps/databases/pgadmin/ks.yaml
  kubernetes/apps/downloads/overseerr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/seerr/ks.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/frigate/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/media/calibre/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
  kubernetes/apps/selfhosted/rustdesk/ks.yaml
Labels: area/kubernetes

disable r2 backups for now
  kubernetes/apps/ai/ollama/ks.yaml
  kubernetes/apps/ai/open-webui/ks.yaml
  kubernetes/apps/ai/paperless-ai/ks.yaml
  kubernetes/apps/ai/swarmui/ks.yaml
  kubernetes/apps/databases/pgadmin/ks.yaml
  kubernetes/apps/downloads/overseerr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/media/calibre/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
  kubernetes/apps/selfhosted/rustdesk/ks.yaml
Labels: area/kubernetes

enable r2 backups
  kubernetes/apps/ai/ollama/ks.yaml
  kubernetes/apps/ai/open-webui/ks.yaml
  kubernetes/apps/ai/paperless-ai/ks.yaml
  kubernetes/apps/ai/swarmui/ks.yaml
  kubernetes/apps/databases/pgadmin/ks.yaml
  kubernetes/apps/downloads/overseerr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/media/calibre/ks.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
  kubernetes/apps/selfhosted/rustdesk/ks.yaml
Labels: area/kubernetes

don't backup to restic yet
  kubernetes/components/volsync/restic/kustomization.yaml
Labels: area/kubernetes

restore older r2 backups
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
  kubernetes/components/volsync/r2/replicationdestination.yaml
Labels: area/kubernetes

don't make new backups for now
  kubernetes/components/volsync/r2/kustomization.yaml
Labels: area/kubernetes

use prod cert
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
Labels: area/kubernetes

allow backup to local restic
  kubernetes/components/volsync/r2/replicationdestination.yaml
  kubernetes/components/volsync/restic/kustomization.yaml
Labels: area/kubernetes

fix silence operator repo
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
Labels: area/kubernetes
