Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

remove duplicate node exporter
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/node-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

enable blocky for trusted network to test
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

fix chart name
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/grafana.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix cilium hubble values
  kubernetes/nas/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

remove authentik's redis
  kubernetes/main/apps/security/authentik/ks.yaml
  kubernetes/main/apps/security/authentik/redis/externalsecret.yaml
  kubernetes/main/apps/security/authentik/redis/helmrelease.yaml
  kubernetes/main/apps/security/authentik/redis/kustomization.yaml
Labels: area/kubernetes, cluster/main

add kyverno source repo
  kubernetes/dns/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/dns/flux/repositories/helm/kustomization.yaml
  kubernetes/dns/flux/repositories/helm/kyverno.yaml
  kubernetes/main/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes, cluster/main

cilium fixes
  kubernetes/nas/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
  kubernetes/nas/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/nas/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/nas/apps/system-controllers/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/nas/apps/system-controllers/kubelet-csr-approver/app/values.yaml
  kubernetes/nas/apps/system-controllers/kubelet-csr-approver/ks.yaml
Labels: area/kubernetes, cluster/nas

reduce number of kyverno controllers
  kubernetes/dns/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix issue from bulk replace
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix cilium routing cidr
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

add servers vlan to blocky
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

switch immich to dragonfly
  kubernetes/main/apps/selfhosted/immich/app/configmap.yaml
Labels: area/kubernetes, cluster/main

apply correct helm values
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

undo
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

change namespace of cleanup operator
  kubernetes/main/apps/kube-system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/kube-cleanup-operator/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kube-cleanup-operator/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix authentik
  kubernetes/main/apps/security/authentik/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/authentik.yaml
Labels: area/kubernetes, cluster/main

add metrics server to nas
  kubernetes/nas/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/nas/apps/kube-system/metrics-server/ks.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/ks.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/nas

use clusterIP for minio
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas

fix crd reqs for bootstrapping
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

one more replace fix
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

maybe fix grafana
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix alertmanager-silencer
  kubernetes/main/apps/observability/alertmanager-silencer/ks.yaml
  kubernetes/nas/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

test fix graphana
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix ip assignments for services
  kubernetes/nas/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/nas

fix ip assignments for services
  kubernetes/nas/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/nas

update qbittorrent settings
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fixes
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

fix thanos
  kubernetes/main/apps/observability/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add emqx dashboard
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

more flux fixes
  kubernetes/nas/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nas

fix grafana oauth
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix cilium?
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

change namespace again
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/app/helmrelease.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/app/kustomization.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/ks.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

update intel device plugin
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/ks.yaml
  kubernetes/main/apps/system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugin/ks.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/intel-gpu.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix searxng deps
  kubernetes/main/apps/selfhosted/searxng/ks.yaml
Labels: area/kubernetes, cluster/main

test suc on nas
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/app/kustomization.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/app/rbac.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/ks.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/nas

one more grafana fix
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

add external nginx to dns cluster
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/dns/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/dns/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/dns/apps/network/external-dns/external/kustomization.yaml
  kubernetes/dns/apps/network/external-dns/ks.yaml
  kubernetes/dns/apps/network/external-dns/shared/dns_endpoint-crd.yaml
  kubernetes/dns/apps/network/external-dns/shared/kustomization.yaml
  kubernetes/dns/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/dns/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/dns/apps/network/ingress-nginx/ks.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/dashboard/kustomization.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, area/taskfile

fix emqx secret
  kubernetes/main/apps/databases/emqx/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

holy christ how did I delete loki
  kubernetes/dns/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/dns/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/dns/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
