Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

nope
  nas/apps/self-hosted/garage/app/helmrelease.yaml
Labels: none

fix netshoot domain
  nas/apps/network/netshoot/app/helmrelease.yaml
Labels: none

update talos bootstrap for main cluster
  .envrc
  .justfile
  kubernetes/bootstrap/mod.just
  kubernetes/bootstrap/resources.yaml.j2
  kubernetes/mod.just
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/mod.just
  kubernetes/talos/patches/controller/cluster.yaml
  kubernetes/talos/patches/controller/link-alias.yaml
  kubernetes/talos/patches/controller/misc.yaml
  kubernetes/talos/patches/global/machine-features.yaml
  kubernetes/talos/patches/global/machine-files.yaml
  kubernetes/talos/patches/global/machine-kubelet.yaml
  kubernetes/talos/patches/global/machine-network.yaml
  kubernetes/talos/patches/global/machine-sysctls.yaml
  kubernetes/talos/patches/global/machine-time.yaml
  kubernetes/talos/patches/global/machine-udev.yaml
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talenv.sops.yaml
Labels: area/kubernetes

fix arc
  kubernetes/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
Labels: area/kubernetes

update cilium settings
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

update kube state metrics
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/observability/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

update keda component
  kubernetes/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

ubdate ksm
  kubernetes/apps/observability/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

test patch removal
  nas/apps/network/envoy-gateway/config/external.yaml
  nas/apps/network/envoy-gateway/config/internal.yaml
Labels: none

update envoy config
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/envoy-gateway/config/podmonitor.yaml
  nas/apps/network/envoy-gateway/config/envoy.yaml
  nas/apps/network/envoy-gateway/config/podmonitor.yaml
Labels: area/kubernetes

add silencer for external dns stale warning for now
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/silences/cephnodediskspacewarning.yaml
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/stale_dns_warning.yaml
Labels: area/kubernetes

fix name of silence
  kubernetes/apps/observability/silence-operator/silences/stale_dns_warning.yaml
Labels: area/kubernetes

fix asns
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  nas/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

test l3 switch as bgp node
  nas/apps/flux-system/flux-instance/app/prometheusrule.yaml
  nas/apps/kube-system/cilium/app/helmrelease.yaml
  nas/apps/kube-system/cilium/app/networking.yaml
Labels: none

oops
  nas/apps/kube-system/cilium/app/networking.yaml
Labels: none

smooth out keda
  kubernetes/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

will this break cilium?
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

disable garage
  nas/apps/self-hosted/kustomization.yaml
Labels: none

test out doco-cd
  docker/truenas/.doco-cd.yaml
  docker/truenas/.doco-cd/docker-compose.app.yaml
  docker/truenas/01-traefik/docker-compose.yaml
  docker/truenas/02-exporters/docker-compose.yaml
Labels: none

add terraform for garage
  terraform/garage/.terraform.lock.hcl
  terraform/garage/main.tofu
  terraform/garage/modules/garage/main.tofu
  terraform/garage/modules/garage/outputs.tofu
  terraform/garage/modules/garage/variables.tofu
  terraform/garage/opencloud.tofu
  terraform/garage/postgres.tofu
  terraform/garage/volsync.tofu
Labels: area/terraform

test ibgp
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  nas/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

disable traefik in doco-cd for now
  docker/archive/01-traefik/docker-compose.yaml
Labels: none

un-archive traefik for doco-cd
  docker/truenas/01-traefik/docker-compose.yaml
Labels: none

test scrape configs from nas
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/components/common/cluster-vars/cluster-settings.yaml
Labels: area/kubernetes

ignore memory usage warnings for nas
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/shana_memory_usage.yaml
Labels: area/kubernetes

disable kube api service
  kubernetes/apps/kube-system/cilium/app/networking.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/observability/silence-operator/silences/keda_hpa_maxed_out.yaml
Labels: area/kubernetes

test garage in doco-cd
  docker/truenas/.doco-cd.yaml
  docker/truenas/01-traefik/config/dynamic/dashboard.yaml
  docker/truenas/01-traefik/docker-compose.yaml
  docker/truenas/03-garage/.env
  docker/truenas/03-garage/config/config.toml
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

fix 1p vault
  docker/truenas/.doco-cd.yaml
Labels: none

fix garage
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

update garage
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

archive garage to work on datasets
  docker/archive/03-garage/.env
  docker/archive/03-garage/config/config.toml
  docker/archive/03-garage/docker-compose.yaml
Labels: none

try docker garage again
  docker/truenas/03-garage/.env
  docker/truenas/03-garage/config/config.toml
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

update garage entrypoint
  docker/truenas/01-traefik/docker-compose.yaml
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

maybe fix?
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

oops
  docker/truenas/01-traefik/docker-compose.yaml
Labels: none

maybe
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

update garage hostnames
  docker/truenas/03-garage/.env
Labels: none

see if I actually understand what's going on
  docker/truenas/01-traefik/config/dynamic/dashboard.yaml
  docker/truenas/01-traefik/config/traefik.yaml
  docker/truenas/01-traefik/docker-compose.yaml
  docker/truenas/03-garage/docker-compose.yaml
Labels: none
