Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

disable storage class for mayastor loki
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

merge openebs charts
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/ks.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add proxy for tandoor
  infrastructure/terraform/authentik/applications.tf
Labels: none

enable tandoor proxy
  infrastructure/terraform/authentik/system.tf
Labels: none

enable tf controller
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
Labels: area/kubernetes, cluster/main

disable tfs
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
Labels: area/kubernetes, cluster/main

fixes
  infrastructure/terraform/authentik/applications.tf
Labels: none

fix nut-client settings
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/main

disable system upgrade controller until we figure out how to make it work with renovate
  kubernetes/main/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix feature gate for new k8s version
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

oops2
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

oops3
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

oops4
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

oops5
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

oops 3
  kubernetes/main/apps/openebs/openebs/config/diskpools.yaml
Labels: area/kubernetes, cluster/main

create crds for snapshots
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

don't use aws in tf-controller
  kubernetes/main/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/main/bootstrap/flux/github-deploy-key.secret.sops.yaml
Labels: area/kubernetes, cluster/main

oop7
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

oops8
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test fix
  kubernetes/main/apps/media/komga/ks.yaml
  kubernetes/main/bootstrap/flux/github-deploy-key.secret.sops.yaml
Labels: area/kubernetes, cluster/main

don't install crds via openebs
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/openebs/mayastor/app/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/ks.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

split out mayastor and hostpath
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/openebs/mayastor/app/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/config/diskpools.yaml
  kubernetes/main/apps/openebs/mayastor/config/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/config/storageclass.yaml
  kubernetes/main/apps/openebs/mayastor/ks.yaml
  kubernetes/main/apps/openebs/openebs/ks.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

maybe fix
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix?
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

oops9
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use newly added snapshot class
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/openebs/mayastor/config/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/config/snapshotclass.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

disable rook
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

more space to plex
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

disable system upgrade controller until we figure out how to make it work with renovate
  kubernetes/main/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix feature gate for new k8s version
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

enable mayastor on one disk for testing
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/config/diskpools.yaml
  kubernetes/main/apps/openebs/mayastor/config/storageclass.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update cluster address in dns
  kubernetes/dns/apps/network/bind/app/resources/zones/db.ctec.run
Labels: area/kubernetes

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

misc updates
  kubernetes/main/apps/media/komga/ks.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix mayastor config
  kubernetes/main/apps/openebs/mayastor/ks.yaml
Labels: area/kubernetes, cluster/main
