Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix lidarr pvc size
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
Labels: area/kubernetes, cluster/main

fix deps on some *arrs
  kubernetes/main/apps/organizarrs/readarr/ks.yaml
Labels: area/kubernetes, cluster/main

fix blocky url
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add blocky scrape to kps
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/blocky.yaml
Labels: area/kubernetes, cluster/main

maybe fix grafana?
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

grafana updates
  kubernetes/main/apps/observability/grafana/app/dashboard/home.json
  kubernetes/main/apps/observability/grafana/app/dashboard/kustomization.yaml
  kubernetes/main/apps/observability/grafana/app/dashboard/smartctl-exporter.json
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

add blackbox exporter
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/main/apps/observability/blackbox-exporter/ks.yaml
Labels: area/kubernetes, cluster/main

fixes
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/main/apps/observability/promtail/app/kustomization.yaml
  kubernetes/main/apps/observability/promtail/ks.yaml
Labels: area/kubernetes, cluster/main

fix unpoller
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/blocky.yaml
  kubernetes/main/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

volsync from r2 this time
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

use all 3 replicas for mayastor
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

wait on openebs-config
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

increase openebs timeouts
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

fix komga
  kubernetes/main/apps/media/komga/ks.yaml
Labels: area/kubernetes, cluster/main

fix label on sakura node
  kubernetes/main/bootstrap/talos/talconfig.yaml
  tools/debug-ds.yaml
Labels: area/kubernetes, cluster/main

fixes
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix openebs
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix openebs
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use staging cert for now
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

use prod cert
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

misc updates
  .github/renovate/packageRules.json5
  kubernetes/main/apps/system/democratic-csi/app/externalsecret.yaml
  kubernetes/main/apps/system/democratic-csi/app/helmrelease.yaml
  kubernetes/main/apps/system/democratic-csi/ks.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/github, area/kubernetes, cluster/main

reinstall weaveworks gitops
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes, cluster/main

fix helm version
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

health check update
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes, cluster/main

revert frigate
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable frigate for now
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/main

auto merge minor PRs on monday
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

prep for DR
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/openebs/mayastor/app/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/ks.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/ks.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

staging cert for now
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

enable rook ceph cluster
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

fix ceph
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

replicate data in ceph
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix storageclass name
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

use prod cert
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

restore from minio
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

fix overseerr
  kubernetes/main/apps/organizarrs/overseerr/ks.yaml
  kubernetes/main/apps/organizarrs/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/main

fix github webhook
  kubernetes/main/apps/flux-system/add-ons/webhook/github/externalsecret.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
