Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

fix
  kubernetes/main/apps/ai/swarmui/ks.yaml
Labels: area/kubernetes, cluster/main

change controller type
  kubernetes/main/apps/ai/paperless-ai/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable swarmui for now to make some mounts nfs
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

use nfs mount for models for now
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/main/apps/ai/swarmui/app/pvc.yaml
Labels: area/kubernetes, cluster/main

test enable swarmui
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

allow use of more gpus since they're bad
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update user settings for swarmui
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/main/apps/ai/swarmui/ks.yaml
Labels: area/kubernetes, cluster/main

fix folder structuer
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use nvidia runtimeclass
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable alerts for now
  kubernetes/main/apps/home/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/main

missed one
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes, cluster/main

update lanraragi
  kubernetes/main/apps/ai/kustomization.yaml
  kubernetes/main/apps/authentik/kustomization.yaml
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update external secret config
  kubernetes/main/apps/external-secrets/external-secrets/app/values.yaml
Labels: area/kubernetes, cluster/main

update rook
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes, cluster/main

remove health check from onepassword store for now
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

maybe this works?
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

nope
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

don't wait for now. fix later
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

fix lanraragi version
  kubernetes/main/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

move cnpg to oci repo
  kubernetes/main/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/helmrepository.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/databases/cloudnative-pg/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix schema site
  kubernetes/main/apps/databases/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

move external secret
  kubernetes/main/apps/databases/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

use oci for authentik
  kubernetes/main/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/main/apps/authentik/authentik/app/helmrepository.yaml
  kubernetes/main/apps/authentik/authentik/app/kustomization.yaml
  kubernetes/main/apps/authentik/authentik/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

add unifi dns webhook
  kubernetes/main/apps/kube-system/cilium/app/bgp.conf
  kubernetes/main/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/kustomization.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/ocirepository.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/main/apps/network/cloudflare-dns/ks.yaml
  kubernetes/main/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/network/external-dns/shared/dns_endpoint-crd.yaml
  kubernetes/main/apps/network/external-dns/shared/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/network/unifi-dns/app/externalsecret.yaml
  kubernetes/main/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/unifi-dns/app/kustomization.yaml
  kubernetes/main/apps/network/unifi-dns/app/ocirepository.yaml
  kubernetes/main/apps/network/unifi-dns/ks.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix cloudflared
  kubernetes/main/apps/network/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/network/cloudflare-dns/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflare-dns/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

move opc to main cluster for now
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/main

no ingress in main cluster
  kubernetes/main/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/main/apps/network/unifi-dns/app/helmrelease.yaml
  kubernetes/main/components/common/cluster-vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

fix nas hostname
  kubernetes/main/apps/databases/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix cloudflare dns
  kubernetes/main/apps/network/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix nas dns for now
  kubernetes/main/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/main

fix dns in talos config
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix bgp config
  kubernetes/apps/kube-system/cilium/config/bgp.conf
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

changes
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/meta/repositories/helm/grafana.yaml
  kubernetes/flux/meta/repositories/helm/immich.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/tf-controller.yaml
Labels: area/kubernetes

increment cnpg
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile

fix helm value locations
  Taskfile.yml
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile

don't need to rotate server certificates
  kubernetes/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/system-controllers/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/system-controllers/kubelet-csr-approver/ks.yaml
  kubernetes/apps/system-controllers/kustomization.yaml
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/bootstrap/templates/resources.yaml.j2
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes
