Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

minor fixes
  .sops.yaml
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

update talos nameservers
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

misc fixes
  kubernetes/dns/apps/network/bind/app/resources/zones/db.unifi
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/main

fix l2 announcements
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/kubernetes

test
  kubernetes/dns/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes

maybe fix cilium?
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/cilium/config/l2.yaml
  kubernetes/dns/apps/kube-system/cilium/config/lrp.yaml
  kubernetes/dns/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

revert to bgp
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/dns/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

more revert to bgp
  kubernetes/dns/apps/network/bind/app/resources/zones/db.unifi
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

Revert "revert to bgp"
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/dns/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Revert "more revert to bgp"
  kubernetes/dns/apps/network/bind/app/resources/zones/db.unifi
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

swap talconfig to sops
  .sops.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.yaml
Labels: area/kubernetes, cluster/main

Reapply "more revert to bgp"
  kubernetes/dns/apps/network/bind/app/resources/zones/db.unifi
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

Reapply "revert to bgp"
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/dns/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

enable dnsdist logging
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

disable logging on dnsdist
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

minor updates
  .taskfiles/Rook/templates/WipeDataJob.tmpl.yaml
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

disable mayastor for now
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable snapshot crds on mayastor since rook implements them
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix cert name on nas
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

fix private key for nas cert
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

restore from r2
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

enable mayastor
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

prep for next dr attempt
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

disable mayastor
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix base path for mayastor etcd
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix etcd storage class
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

put mayastor in seperate chart
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/openebs/mayastor/app/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

move restore back to minio
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

change cert
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix key type
  kubernetes/main/apps/network/ingress-nginx/shared/certificate-staging.yaml
Labels: area/kubernetes, cluster/main

test fix for mayastor
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix mayastor?
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable mayastor addons
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable initcontainers for mayastor
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
