Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix nginx
  kubernetes/main/apps/network/nginx/ks.yaml
Labels: area/kubernetes, cluster/main

move back to prod certs
  kubernetes/main/apps/network/nginx/certificates/certificates.yaml
Labels: area/kubernetes, cluster/main

fix plex
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

fix helm repos
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix atuin
  kubernetes/main/apps/selfhosted/atuin/ks.yaml
Labels: area/kubernetes, cluster/main

fix emqx
  kubernetes/main/apps/databases/emqx/ks.yaml
  kubernetes/main/apps/databases/emqx/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

rename cluster secret store
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/externalsecret.yaml
  kubernetes/main/apps/databases/emqx/operator/externalsecret.yaml
  kubernetes/main/apps/databases/pgadmin/app/externalsecret.yaml
  kubernetes/main/apps/databases/postgres-backup/app/externalsecret.yaml
  kubernetes/main/apps/downloads/animarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/lidarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/readarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/main/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/externalsecret.yaml
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/immich/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/redlib/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix github receiver
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
Labels: area/kubernetes, cluster/main

fix onepassword css
  kubernetes/main/apps/external-secrets/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

fix emqx
  kubernetes/main/apps/databases/emqx/ks.yaml
Labels: area/kubernetes, cluster/main

fix k8tz
  kubernetes/main/apps/system-controllers/k8tz/ks.yaml
Labels: area/kubernetes, cluster/main

fix loki
  kubernetes/main/apps/observability/loki/ks.yaml
Labels: area/kubernetes, cluster/main

update loki
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix webhook receiver
  .taskfiles/flux/Taskfile.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

add kromgro
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
  kubernetes/main/apps/observability/grafana/app/dashboard/smartctl-exporter.json
  kubernetes/main/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/observability/kromgo/app/kustomization.yaml
  kubernetes/main/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/main/apps/observability/kromgo/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

enable kromgo
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix frigate
  kubernetes/main/apps/home-automation/frigate/app/config.yaml
Labels: area/kubernetes, cluster/main

fix gatus component
  kubernetes/shared/components/gatus/external/config.yaml
Labels: area/kubernetes

fix gatus component again
  kubernetes/shared/components/gatus/guarded/config.yaml
Labels: area/kubernetes

fix tandoor gatus
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
Labels: area/kubernetes, cluster/main

disable grafana
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

disable tf-controller
  kubernetes/dns/apps/observability/network-ups-tools/app/helmrelease.yaml
  kubernetes/dns/apps/observability/network-ups-tools/app/kustomization.yaml
  kubernetes/dns/apps/observability/network-ups-tools/app/prometheusrule.yaml
  kubernetes/dns/apps/observability/network-ups-tools/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

remove kyverno
  .archive/kyverno/kustomization.yaml
  .archive/kyverno/kyverno/app/helmrelease.yaml
  .archive/kyverno/kyverno/app/kustomization.yaml
  .archive/kyverno/kyverno/ks.yaml
  .archive/kyverno/kyverno/policies/ingress-authentik-annotations.yaml
  .archive/kyverno/kyverno/policies/ingress-cert-manager-annotations.yaml
  .archive/kyverno/kyverno/policies/ingress-type-annotations.yaml
  .archive/kyverno/kyverno/policies/kustomization.yaml
  .archive/selfhosted/theme-park/app/helmrelease.yaml
  .archive/selfhosted/theme-park/app/kustomization.yaml
  .archive/selfhosted/theme-park/ks.yaml
  kubernetes/main/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/selfhosted/openspeedtest/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/openspeedtest/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/openspeedtest/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/whoogle/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update internal ingress
  kubernetes/dns/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/main/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix nginx cert
  kubernetes/main/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix openspeedtest
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

update external ingress
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/databases/emqx/operator/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/observability/silence-operator/crds/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update tandoor
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fixes
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/dns/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/dns/apps/kube-system/cilium/app/values.yaml
  kubernetes/dns/bootstrap/helmfile.yaml
Labels: area/kubernetes, area/taskfile

more oops
  kubernetes/dns/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/dns/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes

more oops 2
  kubernetes/dns/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/dns/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/dns/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
  kubernetes/dns/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/dns/apps/cert-manager/cert-manager/app/values.yaml
Labels: area/kubernetes

more oops 3
  kubernetes/dns/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/dns/apps/system/spegel/app/kustomization.yaml
  kubernetes/dns/apps/system/spegel/app/values.yaml
Labels: area/kubernetes

more oops 4
  kubernetes/dns/bootstrap/helmfile.yaml
Labels: area/kubernetes

more oops 5
  kubernetes/dns/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

more oops 6
  kubernetes/dns/apps/kube-system/kustomization.yaml
  kubernetes/dns/apps/network/kustomization.yaml
  kubernetes/dns/apps/observability/kustomization.yaml
  kubernetes/dns/apps/openebs/kustomization.yaml
  kubernetes/dns/apps/selfhosted/kustomization.yaml
  kubernetes/dns/apps/system-controllers/kustomization.yaml
  kubernetes/dns/apps/system/kustomization.yaml
Labels: area/kubernetes

does this work?
  kubernetes/dns/components/common/cluster-vars/cluster-secrets.yaml
Labels: area/kubernetes

does this work? 2
  kubernetes/dns/components/common/cluster-vars/cluster-secrets.sops.yaml
  kubernetes/dns/components/common/cluster-vars/cluster-secrets.yaml
  kubernetes/dns/components/common/cluster-vars/kustomization.yaml
Labels: area/kubernetes

more oops whatever
  kubernetes/dns/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

almost done
  kubernetes/dns/apps/external-secrets/onepassword-connect/app/kustomization.yaml
Labels: area/kubernetes

almost done 2
  kubernetes/dns/apps/observability/gatus/ks.yaml
  kubernetes/dns/apps/selfhosted/blocky/ks.yaml
  kubernetes/dns/apps/selfhosted/smtp-relay/ks.yaml
  kubernetes/dns/apps/selfhosted/unifi/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
