Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

go back further with backups
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

fix rbac for suc
  kubernetes/main/apps/system-controllers/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes, cluster/main

fix grafana auth
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

remove last bad references to nas
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/nas.yaml
  kubernetes/main/apps/observability/loki/app/externalsecret.yaml
  kubernetes/main/apps/observability/thanos/app/externalsecret.yaml
  kubernetes/nas/bootstrap/talos/config.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

remove some apps from DNS cluster
  kubernetes/dns/apps/kyverno/kustomization.yaml
  kubernetes/dns/apps/network/bind/app/resources/zones/db.ctec.run
  kubernetes/dns/apps/network/bind/app/resources/zones/db.kokoro.wtf
  kubernetes/dns/apps/network/ingress-nginx/ks.yaml
Labels: area/kubernetes

remove duplicate dashboard
  kubernetes/main/apps/network/ingress-nginx/shared/dashboard/kustomization.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

minor changes for DR
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

use staging cert for now
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

test fix authentik
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update certificate types
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate.yaml
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

update gatus for hass
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/gatus-custom.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

authentik updates
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
  kubernetes/main/apps/security/authentik/app/gatus.yaml
  kubernetes/main/apps/security/authentik/app/helmrelease.yaml
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

update gatus for authentik
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

misc updates
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/dev/forgejo/app/kustomization.yaml
  kubernetes/main/apps/dev/forgejo/app/resources/forgejo.yaml
  kubernetes/main/apps/dev/forgejo/ks.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/certificate.yaml
  kubernetes/main/bootstrap/talos/integrations/helmfile.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

test fix authentik
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test fix for tandoor email
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test fix for tandoor email
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test fix for tandoor email
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update smtp relay settings
  kubernetes/dns/apps/selfhosted/smtp-relay/app/helmrelease.yaml
  kubernetes/dns/apps/selfhosted/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes

test tandoor fix
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix s3 endpoint for tandoor
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

add new bucket to minio
  infrastructure/terraform/s3/minio.tf
Labels: none

disable s3 tf
  kubernetes/main/apps/flux-system/tf-controller/app/s3.yaml
Labels: area/kubernetes, cluster/main

re-enable s3 terraform
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
Labels: area/kubernetes, cluster/main

test configmap from file
  .github/renovate/groups.json5
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/apps/dev/forgejo/app/kustomization.yaml
  kubernetes/main/apps/dev/forgejo/app/resources/app.ini
  kubernetes/main/apps/dev/forgejo/app/resources/configmap.yaml
  kubernetes/main/apps/dev/forgejo/app/resources/forgejo.yaml
Labels: area/github, area/kubernetes, area/taskfile, cluster/main

test configmap from file
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/dev/forgejo/ks.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

test fix
  kubernetes/main/apps/dev/forgejo/app/kustomization.yaml
  kubernetes/main/apps/dev/forgejo/app/resources/configmap.yaml
Labels: area/kubernetes, cluster/main

test forgejo secret
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
  kubernetes/main/apps/dev/forgejo/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

disable healthcheck for now
  kubernetes/main/apps/dev/forgejo/ks.yaml
Labels: area/kubernetes, cluster/main

fix missing variables for secret
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

enable forgejo to see what breaks
  kubernetes/main/apps/dev/forgejo/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

add lb ip for forgejo
  kubernetes/main/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

fix service controller
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

make forgejo a stateful set
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

attempt fix of sabnzbd
  kubernetes/main/apps/downloads/namespace.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix ingress name
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add zfswrite group to sabnzbd
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test another fix
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update talos config for 1.7.0
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main
