Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

oops
  kubernetes/components/volsync/kopia/kustomization.yaml
Labels: area/kubernetes

fix volsync kopia repository secret name
  kubernetes/components/volsync/kopia/replicationsource.yaml
Labels: area/kubernetes

disable maintainerr for now
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

I really hope this doesn't break lanraragi
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes

maybe get lanraragi to work with kopia?
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes

disable immich for upgrade
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

update pg cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

only one bootstrap method at a time
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

3 instances?
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

enable and update immich
  kubernetes/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

update cnpg to use barman plugin
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/barman-cloud/ocirepository.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
Labels: area/kubernetes

fix indentation
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix recovery
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

add missing yaml file
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

just for now
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

restructure immich
  kubernetes/apps/selfhosted/immich/app/configmap.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/ml-pvc.yaml
  kubernetes/apps/selfhosted/immich/app/resources/immich.config.json
  kubernetes/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/server/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/config/config.yml
  kubernetes/apps/selfhosted/romm/app/externalsecret.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/romm/app/ocirepository.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
Labels: area/kubernetes

move kopia backup destination
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

disable all workloads running on kopia
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

disable kopia for now
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

fix ma policy
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

test restore with overseerr
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

bring all workloads back up
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

switch to local replicationdestinations
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/r2/kustomization.yaml
  kubernetes/components/volsync/restic/kustomization.yaml
Labels: area/kubernetes

oops lanraragi
  kubernetes/apps/media/lanraragi/ks.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/r2/kustomization.yaml
  kubernetes/components/volsync/restic/kustomization.yaml
Labels: area/kubernetes

attempt lanraragi fix
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/ks.yaml
Labels: area/kubernetes

attempt lanraragi fix
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes

enable restic backups for workloads that can't handle user 2000
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/r2/kustomization.yaml
  kubernetes/components/volsync/restic/externalsecret.yaml
  kubernetes/components/volsync/restic/kustomization.yaml
Labels: area/kubernetes

fix loki repo
  kubernetes/apps/observability/loki/app/ocirepository.yaml
Labels: area/kubernetes

update renovate groups
  .renovate/groups.json5
Labels: none

change default renovate log level
  .github/workflows/renovate.yaml
Labels: area/github

fix bad reference
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

remove references to old crds
  kubernetes/apps/kube-system/cilium/app/crds.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

update patches cron
  .github/workflows/automerge-patches.yaml
Labels: area/github

fix cloudflare dns filtering
  .taskfiles/flux/Taskfile.yaml
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

update envoy settings
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

update cloudflare dns settings
  kubernetes/apps/network/cloudflare-dns/app/helmrelease.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
Labels: area/kubernetes

disable cilium gateway
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

disable cilium envoy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes
