Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

fix missing frigate port
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

update frigate configuration
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

increase radarr storage
  kubernetes/apps/downloads/radarr/ks.yaml
Labels: area/kubernetes

test frigate changes
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

disable kopa for now
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/downloads/radarr/app/pvc.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
Labels: area/kubernetes

test frigate fix
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

test new config
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

maybe fix frigate config?
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

don't use go2rtc for now
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

update smtp address
  kubernetes/apps/authentik/authentik/app/externalsecret.yaml
Labels: area/kubernetes

maybe fix arc
  .github/workflows/renovate.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/github, area/kubernetes

unarchive coder
  kubernetes/apps/dev/coder/app/externalsecret.yaml
  kubernetes/apps/dev/coder/app/helmrelease.yaml
  kubernetes/apps/dev/coder/app/helmrepository.yaml
  kubernetes/apps/dev/coder/app/kustomization.yaml
  kubernetes/apps/dev/coder/ks.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/components/common/cluster-vars/cluster-settings.yaml
Labels: area/kubernetes

test fix flux-local
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix incorrect service identifiers
  kubernetes/apps/databases/postgres-backup/app/helmrelease.yaml
  kubernetes/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/externalsecret.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/kustomization.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/lokirule.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/apps/selfhosted/teddit/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

fixes
  kubernetes/apps/dev/coder/app/externalsecret.yaml
Labels: area/kubernetes

maybe fix calibre for flux-local
  kubernetes/apps/media/calibre/app/helmrelease.yaml
Labels: area/kubernetes

enable detect on frigate
  kubernetes/apps/home/frigate/app/resources/config.yaml
Labels: area/kubernetes

add workflow to automerge patch PRs daily
  .github/workflows/automerge-patches.yaml
Labels: area/github

fix name
  .github/workflows/automerge-patches.yaml
Labels: area/github

remove coder
  .archive/dev/coder/app/externalsecret.yaml
  .archive/dev/coder/app/helmrelease.yaml
  .archive/dev/coder/app/helmrepository.yaml
  .archive/dev/coder/app/kustomization.yaml
  .archive/dev/coder/ks.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: area/kubernetes

add new extension for immich update
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

prep for DR
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

update admission policy version
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

disable pgadmin until I can fix it
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

test kopia backup for cluster (fingers crossed)
  kubernetes/apps/system/volsync/app/helmrelease.yaml
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/system/volsync/ks.yaml
  kubernetes/apps/system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/system/volsync/maintenance/kopiamaintenance.yaml
  kubernetes/apps/system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/system/volsync/maintenance/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/kopia/externalsecret.yaml
  kubernetes/components/volsync/kopia/kustomization.yaml
  kubernetes/components/volsync/kopia/replicationdestination.yaml
  kubernetes/components/volsync/kopia/replicationsource.yaml
Labels: area/kubernetes

fix dependancy
  kubernetes/apps/system-controllers/k8tz/app/ocirepository.yaml
  kubernetes/apps/system-controllers/snapshot-controller/ks.yaml
Labels: area/kubernetes

try enabling kopia
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

fix kopia directory
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix kopia permissions
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

run both admission policies at the same time
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/components/volsync/kopia/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

disable kopia repdest for now
  kubernetes/components/volsync/kopia/kustomization.yaml
Labels: area/kubernetes

prep for DR
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

restore from remote to make it easier
  kubernetes/components/volsync/kopia/externalsecret.yaml
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/nfs/kustomization.yaml
  kubernetes/components/volsync/remote/kustomization.yaml
  kubernetes/components/volsync/remote/replicationdestination.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix kopia component
  kubernetes/components/volsync/kopia/kustomization.yaml
Labels: area/kubernetes
