Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix booklore container version maybe
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

fix booklore container version maybe
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

fix booklore container version maybe
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

fix booklore container version maybe
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

add booklore to zfs write group
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

test nfs mount rename
  kubernetes/apps/media/booklore/app/helmrelease.yaml
Labels: area/kubernetes

update flux-local workflow
  .github/workflows/flux-local.yaml
Labels: area/github

update kromgo
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
  kubernetes/apps/observability/kromgo/ks.yaml
Labels: area/kubernetes

update nas flux config
  nas/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  nas/components/common/alerts/alert.yaml
  nas/components/common/alerts/kustomization.yaml
  nas/components/common/alerts/provider.yaml
  nas/components/common/cluster-vars/cluster-secrets.secret.sops.yaml
  nas/components/common/cluster-vars/cluster-settings.yaml
  nas/components/common/cluster-vars/kustomization.yaml
  nas/flux/cluster/ks.yaml
Labels: none

update nas flux config
  nas/apps/cert-manager/kustomization.yaml
  nas/apps/external-secrets/kustomization.yaml
  nas/apps/flux-system/kustomization.yaml
  nas/apps/kube-system/kustomization.yaml
  nas/apps/network/kustomization.yaml
  nas/apps/self-hosted/kustomization.yaml
Labels: none

fix external-dns
  nas/apps/network/kustomization.yaml
Labels: none

fix self-hosted namespace
  nas/apps/self-hosted/kustomization.yaml
Labels: none

remove missing paperless image
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

update renovate config
  .renovate/customManagers.json5
Labels: none

fix envoy replicas
  nas/apps/cert-manager/cert-manager/app/ocirepository.yaml
  nas/apps/kube-system/cilium/app/helmrelease.yaml
  nas/apps/network/envoy-gateway/config/envoy.yaml
Labels: none

disable envoy for now
  nas/apps/network/kustomization.yaml
Labels: none

update certmanager oci repos
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  nas/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes

enable envoy
  nas/apps/network/kustomization.yaml
Labels: none

disable envoy
  nas/apps/network/kustomization.yaml
Labels: none

maybe fix gatus?
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

test envoy
  nas/apps/network/envoy-gateway/ks.yaml
  nas/apps/network/kustomization.yaml
Labels: none

disable envoy gateway
  nas/apps/network/kustomization.yaml
Labels: none

test bgp on nas
  nas/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  nas/apps/kube-system/cilium/config/kustomization.yaml
  nas/apps/kube-system/cilium/config/l2.yaml
  nas/apps/kube-system/cilium/config/l3.yaml
  nas/apps/kube-system/cilium/config/pool.yaml
  nas/apps/network/envoy-gateway/app/ocirepository.yaml
  nas/apps/network/envoy-gateway/config/internal.yaml
  nas/bootstrap/helmfile.d/01-apps.yaml
  nas/bootstrap/mod.just
  nas/talos/machineconfig.yaml.j2
  nas/talos/mod.just
Labels: none

fix cilium
  nas/apps/kube-system/cilium/app/helmrelease.yaml
Labels: none

enable envoy again
  nas/apps/network/kustomization.yaml
Labels: none

fix schema server
  kubernetes/apps/downloads/autobrr/ks.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/home/mosquitto/ks.yaml
  kubernetes/apps/network/unifi-dns/ks.yaml
  kubernetes/apps/observability/kromgo/ks.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
  kubernetes/apps/system/kopia/ks.yaml
  kubernetes/flux/cluster/ks.yaml
  nas/apps/flux-system/flux-instance/ks.yaml
  nas/apps/flux-system/flux-operator/ks.yaml
  nas/apps/network/external-dns/ks.yaml
  nas/apps/self-hosted/flexo/ks.yaml
  nas/flux/cluster/ks.yaml
Labels: area/kubernetes

revert qbt changes for now
  kubernetes/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomizeconfig.yaml
  kubernetes/apps/downloads/qbittorrent/app/resources/Corefile
Labels: area/kubernetes

fix qbt
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

test dcsi iscsi
  nas/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  nas/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  nas/apps/storage/democratic-csi/iscsi/kustomization.yaml
  nas/apps/storage/democratic-csi/iscsi/ocirepository.yaml
  nas/apps/storage/democratic-csi/ks.yaml
  nas/apps/storage/democratic-csi/nvmeof/externalsecret.yaml
  nas/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
  nas/apps/storage/democratic-csi/nvmeof/kustomization.yaml
  nas/apps/storage/democratic-csi/nvmeof/ocirepository.yaml
  nas/apps/storage/kustomization.yaml
  nas/apps/storage/namespace.yaml
  nas/apps/storage/snapshot-controller/app/helmrelease.yaml
  nas/apps/storage/snapshot-controller/app/kustomization.yaml
  nas/apps/storage/snapshot-controller/app/ocirepository.yaml
  nas/apps/storage/snapshot-controller/ks.yaml
Labels: none

test dcsi iscsi
  nas/apps/storage/kustomization.yaml
Labels: none

test dcsi iscsi
  nas/apps/storage/snapshot-controller/ks.yaml
Labels: none

test dcsi iscsi
  nas/apps/storage/democratic-csi/iscsi/helmrelease.yaml
Labels: none

fix iscsi driver
  nas/apps/storage/democratic-csi/iscsi/externalsecret.yaml
Labels: none

enable garage on nas cluster
  nas/apps/self-hosted/garage/app/externalsecret.yaml
  nas/apps/self-hosted/garage/ks.yaml
  nas/apps/self-hosted/garage/webui/helmrelease.yaml
  nas/apps/self-hosted/garage/webui/kustomization.yaml
  nas/components/pvc/kustomization.yaml
  nas/components/pvc/pvc.yaml
Labels: none

fix garage ks
  nas/apps/self-hosted/kustomization.yaml
Labels: none

update external-dns
  nas/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

enable gateway config
  nas/apps/network/envoy-gateway/ks.yaml
Labels: none

update envoy config
  nas/apps/network/envoy-gateway/config/external.yaml
  nas/apps/network/envoy-gateway/config/kustomization.yaml
Labels: none

use prod certificate
  nas/apps/network/envoy-gateway/config/certificate.yaml
Labels: none

update garage host for volsync
  kubernetes/components/volsync/externalsecret.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
