Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix oci location for app template
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/flux/meta/repositories/oci/app-template.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/kube-system/coredns/app/values.yaml
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/bootstrap/templates/resources.yaml.j2
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, area/taskfile

remove references to shared components
  .archive/dev/kustomization.yaml
  .archive/dns/apps/cert-manager/kustomization.yaml
  .archive/dns/apps/databases/kustomization.yaml
  .archive/dns/apps/external-secrets/kustomization.yaml
  .archive/dns/apps/flux-system/kustomization.yaml
  .archive/dns/apps/kube-system/kustomization.yaml
  .archive/dns/apps/network/kustomization.yaml
  .archive/dns/apps/observability/kustomization.yaml
  .archive/dns/apps/openebs/kustomization.yaml
  .archive/dns/apps/selfhosted/kustomization.yaml
  .archive/dns/apps/system-controllers/kustomization.yaml
  .archive/dns/apps/system/kustomization.yaml
  .archive/kyverno/kustomization.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/authentik/kustomization.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/openebs/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/system-controllers/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

update volsync oci repo
  kubernetes/apps/system/volsync/app/ocirepository.yaml
  kubernetes/bootstrap/helmfile.yaml
Labels: area/kubernetes

use staging cert for now
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
Labels: area/kubernetes

fix operator values
  kubernetes/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes

update flux operator repos
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/instance/ocirepository.yaml
Labels: area/kubernetes

update flux version
  kubernetes/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes

fix onepassword connect
  kubernetes/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes

wait for onepassword
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

wait for onepassword connect
  kubernetes/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes

fix spegel
  kubernetes/apps/system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix rook oci repo
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

use production certificate
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
Labels: area/kubernetes

manually update lanraragi
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
Labels: area/kubernetes

fix dragonfly operator
  kubernetes/apps/databases/dragonfly/operator/helmrelease.yaml
Labels: area/kubernetes

fix service account?
  kubernetes/apps/databases/dragonfly/operator/helmrelease.yaml
Labels: area/kubernetes

maybe get access to authentik web gui?
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix indentation
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix smtp-relay secret
  kubernetes/apps/selfhosted/smtp-relay/app/externalsecret.yaml
Labels: area/kubernetes

fix rustdesk backup? update cyberchef
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/rustdesk/app/helmrelease.yaml
Labels: area/kubernetes

fix rustdesk yaml issue
  kubernetes/apps/selfhosted/rustdesk/app/helmrelease.yaml
Labels: area/kubernetes

fix frigate camera address
  kubernetes/apps/home/frigate/app/config.yaml
Labels: area/kubernetes

maybe make rustdesk store secret
  kubernetes/apps/selfhosted/rustdesk/app/externalsecret.yaml
  kubernetes/apps/selfhosted/rustdesk/app/helmrelease.yaml
  kubernetes/apps/selfhosted/rustdesk/app/kustomization.yaml
  tools/volume-debugger.yaml
Labels: area/kubernetes

maybe fix calibre web?
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

maybe fix calibre
  kubernetes/apps/media/calibre/app/helmrelease.yaml
Labels: area/kubernetes

test commit mealie
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/app/externalsecret.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/apps/selfhosted/mealie/ks.yaml
Labels: area/kubernetes

add pvc for mealie
  kubernetes/apps/selfhosted/mealie/ks.yaml
Labels: area/kubernetes

disable paperless for now
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix mealie base url
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

don't automatically merge PRs anymore
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

run 3 pods of coredns
  kubernetes/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes

undo
  kubernetes/apps/kube-system/coredns/app/values.yaml
Labels: area/kubernetes

prep for dr
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

update openebs config
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

update openebs config
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

add resource limits for unifi dns
  kubernetes/apps/network/unifi-dns/app/helmrelease.yaml
Labels: area/kubernetes

misc
  kubernetes/apps/kube-system/coredns/app/values.yaml
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

no resource limits for mealie for now
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
