Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

update to new bgp resources
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/cilium/config/l3.yaml
  kubernetes/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes

update cilium config
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

test out maintainerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/kustomization.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
Labels: area/kubernetes

test not resource limits on authentik
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
Labels: area/kubernetes

test recyclarr config for single sonarr instance
  kubernetes/apps/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix github workflows
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

fix bulk merge workflow rule
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/codeql.yml
Labels: area/github

maybe fix rook
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

two database instances until node is fixed
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

lots of changes. probably breaking
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fixes
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

more fixes
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/bootstrap/bootstrap.env
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

fix volsync
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/system/volsync/ks.yaml
Labels: area/kubernetes, area/taskfile

fix k8tz
  kubernetes/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/apps/system-controllers/k8tz/app/helmrepository.yaml
  kubernetes/apps/system-controllers/k8tz/app/kustomization.yaml
  kubernetes/apps/system-controllers/k8tz/app/ocirepository.yaml
Labels: area/kubernetes

fix rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix kps
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes

update unpoller
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/system-controllers/k8tz/app/pki.yaml
Labels: area/kubernetes

disable keda on bringup for now
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

oops
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/downloads/animarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/readarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/media/calibre/ks.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/system/volsync/ks.yaml
Labels: area/kubernetes, area/taskfile

fix kps
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

fix unpoller
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
Labels: area/kubernetes

maybe fix tautulli erasing itself?
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

revert rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

disable digest tracking
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

restore osd ram overrides
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

revert rook rollback
  kubernetes/apps/rook-ceph/rook-ceph/app/ocirepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/ocirepository.yaml
Labels: area/kubernetes

archive promtail
  .archive/observability/promtail/app/helmrelease.yaml
  .archive/observability/promtail/app/kustomization.yaml
  .archive/observability/promtail/ks.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

disable tandoor for now
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

oopsie with flux instance
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

test keda on lidarr
  kubernetes/apps/downloads/lidarr/ks.yaml
Labels: area/kubernetes

don't make lidarr a statefulset
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

update kps values
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

oops accidentally deleted route
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

enable bbe probes
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
Labels: area/kubernetes

increase plex pvc capacity
  kubernetes/apps/media/plex/ks.yaml
Labels: area/kubernetes

enable alert manager warnings
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

use deployments for workloads
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/apps/ai/open-webui/app/helmrelease.yaml
  kubernetes/apps/ai/paperless-ai/app/helmrelease.yaml
  kubernetes/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/apps/databases/pgadmin/app/helmrelease.yaml
  kubernetes/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/apps/selfhosted/rustdesk/app/helmrelease.yaml
  kubernetes/apps/selfhosted/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/apps/selfhosted/teddit/app/helmrelease.yaml
  kubernetes/apps/selfhosted/whoogle/app/helmrelease.yaml
  kubernetes/components/keda/nas-nfs-scaler/scaledobject.yaml
Labels: area/kubernetes

maybe fix frigate?
  kubernetes/apps/home/frigate/app/config.yaml
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

revert frigate for now
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

disable frigate for now
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
