Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

fix diskpool version
  kubernetes/main/apps/openebs/mayastor/config/diskpools.yaml
Labels: area/kubernetes, cluster/main

disable openebs mayastor in favor of seperate one
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add snapshot class
  kubernetes/main/apps/openebs/mayastor/config/kustomization.yaml
  kubernetes/main/apps/openebs/mayastor/config/snapshotclass.yaml
Labels: area/kubernetes, cluster/main

use snapshotclass for komga as test
  kubernetes/main/apps/media/komga/ks.yaml
Labels: area/kubernetes, cluster/main

disable home assistant for now
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix calibre-web restore hopefully
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
Labels: area/kubernetes, cluster/main

oops2
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
Labels: area/kubernetes, cluster/main

oops3
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
Labels: area/kubernetes, cluster/main

add replicationdest for calibre-web
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
Labels: area/kubernetes, cluster/main

update for cilium 1.16 CRDs
  kubernetes/dns/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/main/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
  kubernetes/nas/apps/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

test
  kubernetes/main/apps/openebs/mayastor/config/storageclass.yaml
Labels: area/kubernetes, cluster/main

don
  kubernetes/main/apps/openebs/mayastor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

revert to haproxy
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix bind
  kubernetes/dns/apps/network/bind/app/resources/zones/db.ctec.run
Labels: area/kubernetes

update cnpg
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

test swap to mayastor
  .github/workflows/schemas.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/openebs/mayastor/config/diskpools.yaml
  kubernetes/main/apps/openebs/mayastor/config/storageclass.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/github, area/kubernetes, cluster/main

use staging cert until things work
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

remove rook-ceph dependencies
  kubernetes/main/apps/databases/pgadmin/ks.yaml
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/ks.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/ks.yaml
  kubernetes/main/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/readarr/ks.yaml
  kubernetes/main/apps/organizarrs/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
Labels: area/kubernetes, cluster/main

misc chagnes
  kubernetes/main/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/lidarr/ks.yaml
  kubernetes/main/apps/organizarrs/overseerr/ks.yaml
Labels: area/kubernetes, cluster/main

more misc changes
  kubernetes/main/apps/databases/pgadmin/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/openebs/mayastor/config/storageclass.yaml
  kubernetes/main/apps/organizarrs/animarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/radarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/readarr/app/pvc.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/pvc.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, cluster/main

test fix for mayastor
  kubernetes/main/apps/openebs/mayastor/ks.yaml
Labels: area/kubernetes, cluster/main

test mayastor without sakura
  kubernetes/main/apps/openebs/mayastor/config/diskpools.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

disable rook-ceph
  kubernetes/main/apps/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix overseerr
  kubernetes/main/apps/organizarrs/overseerr/ks.yaml
Labels: area/kubernetes, cluster/main

update some dependencies
  kubernetes/main/apps/organizarrs/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/main

prep for next test
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/config/diskpools.yaml
  kubernetes/main/apps/openebs/openebs/config/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/config/snapshotclass.yaml
  kubernetes/main/apps/openebs/openebs/config/storageclass.yaml
  kubernetes/main/apps/openebs/openebs/ks.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

fix storage classes
  kubernetes/main/apps/openebs/openebs/config/storageclass.yaml
Labels: area/kubernetes, cluster/main

openebs fix
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

fix for plex
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

fix for plex
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/openebs/openebs/config/storageclass.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

use production cert
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix deps
  kubernetes/main/apps/organizarrs/overseerr/ks.yaml
  kubernetes/main/apps/organizarrs/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/main

attempt fix for mayastor on sakura node
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test diskpool on sakura
  kubernetes/main/apps/openebs/openebs/config/diskpools.yaml
Labels: area/kubernetes, cluster/main

test recyclarr update
  kubernetes/main/apps/organizarrs/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

add init container to paperless
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
