Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

test something
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
Labels: area/kubernetes, cluster/main

manually label nodes
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

re-add nfd
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/10gb-nic.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/intel-gpu.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/nesdr-rtl-sdr-device.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

update nfd
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/10gb-nic.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/intel-gpu.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/nesdr-rtl-sdr-device.yaml
Labels: area/kubernetes, cluster/main

fix nfd
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable gateway scrape
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/main

inc
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

updates
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes, cluster/main

use prod cert
  kubernetes/main/apps/kube-system/cilium/gateway/certificate.yaml
Labels: area/kubernetes, cluster/main

don't use immich machine learning cache
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/flux/meta/repositories/helm/immich.yaml
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

disable immich machine learning for now
  kubernetes/main/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix grafana
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

rollback cloudflared change
  kubernetes/main/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

more grafana fix
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

more grafana fix
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable authentik for now
  kubernetes/main/apps/authentik/kustomization.yaml
Labels: area/kubernetes, cluster/main

disable pgadmin for now
  kubernetes/main/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/main

update changed files action
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix tandoor httproute
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update run user for most apps
  kubernetes/main/apps/databases/postgres-backup/app/helmrelease.yaml
  kubernetes/main/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/shared/components/volsync/local/replicationdestination.yaml
  kubernetes/shared/components/volsync/local/replicationsource.yaml
  kubernetes/shared/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, cluster/main

enable nfs mover for testing
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes

don't add rd for nfs yet
  kubernetes/shared/components/volsync/nfs/kustomization.yaml
Labels: area/kubernetes

avoid name collision
  kubernetes/shared/components/volsync/nfs/replicationsource.yaml
Labels: area/kubernetes

fix nfs mover secret
  kubernetes/shared/components/volsync/nfs/externalsecret.yaml
Labels: area/kubernetes

oops
  kubernetes/shared/components/volsync/nfs/externalsecret.yaml
Labels: area/kubernetes

does this matter?
  kubernetes/main/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/shared/components/volsync/local/externalsecret.yaml
  kubernetes/shared/components/volsync/nfs/externalsecret.yaml
  kubernetes/shared/components/volsync/remote/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update es helm values
  kubernetes/main/apps/external-secrets/external-secrets/app/values.yaml
Labels: area/kubernetes, cluster/main

disable nfs volsync while debugging webhook issue
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes

misc changes
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/system-controllers/k8tz/app/pki.yaml
Labels: area/kubernetes, cluster/main

update intel device plugin
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe cilium is the issue?
  kubernetes/main/apps/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix bbe
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

updates
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  kubernetes/main/talos/talconfig.yaml
Labels: area/github, area/kubernetes, cluster/main

fix spegel chart ns
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/kustomization.yaml
  kubernetes/main/apps/system/spegel/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/main

fix spegel chart
  kubernetes/dns/apps/system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

prep for DR
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/talos/talconfig.yaml
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/main

manually update versions
  kubernetes/dns/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/dns/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/dns/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/dns/bootstrap/helmfile.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes, cluster/main

move image repo
  kubernetes/dns/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/main/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/ocirepository.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/ocirepository.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
