Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

add cilium repo
  kubernetes/nas/flux/repositories/helm/cilium.yaml
  kubernetes/nas/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/nas

fix emqx dependency
  kubernetes/main/apps/databases/emqx/ks.yaml
Labels: area/kubernetes, cluster/main

move unifi controller to selfhosted ns
  kubernetes/dns/apps/network/cloudflared/app/config/config.yaml
  kubernetes/dns/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/dns/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/dns/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/dns/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/dns/apps/network/cloudflared/ks.yaml
  kubernetes/dns/apps/network/kustomization.yaml
  kubernetes/dns/apps/selfhosted/kustomization.yaml
  kubernetes/dns/apps/selfhosted/unifi/app/helmrelease.yaml
  kubernetes/dns/apps/selfhosted/unifi/app/kustomization.yaml
  kubernetes/dns/apps/selfhosted/unifi/ks.yaml
Labels: area/kubernetes

lower authentik log level
  kubernetes/main/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

switch more apps to dragonfly
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/databases/redis/app/helmrelease.yaml
  kubernetes/main/apps/databases/redis/app/kustomization.yaml
  kubernetes/main/apps/databases/redis/ks.yaml
  kubernetes/main/apps/selfhosted/immich/app/machine-learning/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/searxng/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/teddit/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

flux fixes
  kubernetes/nas/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/nas/bootstrap/talos/readme.md
  kubernetes/nas/flux/repositories/kustomization.yaml
Labels: area/kubernetes, cluster/nas

major updates to kps, lets see what breaks
  kubernetes/main/apps/observability/alertmanager-discord/app/helmrelease.yaml
  kubernetes/main/apps/observability/alertmanager-discord/app/kustomization.yaml
  kubernetes/main/apps/observability/alertmanager-discord/ks.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/dns.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/nas.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix hass code service
  kubernetes/main/apps/home-automation/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test fix cilium
  kubernetes/nas/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

enable scrape configs and custom prometheus rules
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

move authentik helm repo
  kubernetes/main/flux/repositories/helm/authentik.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

test
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

fix reloader on nas
  kubernetes/nas/apps/system/reloader/app/helmrepository.yaml
  kubernetes/nas/apps/system/reloader/app/kustomization.yaml
Labels: area/kubernetes, cluster/nas

add alertmanager silencer job
  kubernetes/main/apps/observability/alertmanager-silencer/app/helmrelease.yaml
  kubernetes/main/apps/observability/alertmanager-silencer/app/kustomization.yaml
  kubernetes/main/apps/observability/alertmanager-silencer/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

test out emqx operator
  kubernetes/dns/apps/selfhosted/smtp-relay/ks.yaml
  kubernetes/main/apps/databases/dragonfly/cluster/cluster.yaml
  kubernetes/main/apps/databases/emqx/app/externalsecret.yaml
  kubernetes/main/apps/databases/emqx/app/helmrelease.yaml
  kubernetes/main/apps/databases/emqx/app/kustomization.yaml
  kubernetes/main/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/main/apps/databases/emqx/cluster/ingress.yaml
  kubernetes/main/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/databases/emqx/cluster/podmonitor.yaml
  kubernetes/main/apps/databases/emqx/cluster/resources/init-mqtt.py
  kubernetes/main/apps/databases/emqx/exporter/externalsecret.yaml
  kubernetes/main/apps/databases/emqx/exporter/helmrelease.yaml
  kubernetes/main/apps/databases/emqx/exporter/kustomization.yaml
  kubernetes/main/apps/databases/emqx/ks.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/home-automation/emqx/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/emqx/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/emqx/ks.yaml
  kubernetes/main/apps/home-automation/frigate/app/config.yaml
  kubernetes/main/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/main/apps/observability/alertmanager-silencer/ks.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/dns.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/nas.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
  kubernetes/main/flux/repositories/helm/emqx.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes, cluster/main

update cilium values
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

move wireguard to blocky
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

fix kps ks
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

move arc back to dev ns
  kubernetes/main/apps/action-runner-system/kustomization.yaml
  kubernetes/main/apps/action-runner-system/namespace.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/pvc.yaml
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

test
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

disable cnpg dashboard
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

updates
  kubernetes/nas/bootstrap/talos/config.yaml
Labels: area/kubernetes, cluster/nas

fix duplicate ingress name
  kubernetes/nas/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas

fix gatus
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add capacitor dashboard
  kubernetes/main/apps/flux-system/capacitor/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/capacitor/app/kustomization.yaml
  kubernetes/main/apps/flux-system/capacitor/app/rbac.yaml
  kubernetes/main/apps/flux-system/capacitor/ks.yaml
Labels: area/kubernetes, cluster/main

fix paperless redis address
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

even more replace fixes
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/main

fix cilium namespace
  kubernetes/nas/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/nas

fix system upgrade controller
  kubernetes/nas/apps/system-controllers/system-upgrade-controller/app/rbac.yaml
  kubernetes/nas/bootstrap/talos/config.yaml
Labels: area/kubernetes, cluster/nas

fix gatus
  kubernetes/dns/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix config issue
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update loki
  kubernetes/main/apps/observability/loki/app/configmap.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/kustomization.yaml
  kubernetes/main/apps/observability/loki/app/prometheusrule.yaml
  kubernetes/main/apps/observability/loki/app/provision/loki-user-policy.json
  kubernetes/main/apps/observability/loki/app/provision/provision.sh
Labels: area/kubernetes, cluster/main

maybe fixed gatus
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix intel plugin dependencies
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/main

fix system upgrade controller
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/nas

fix typo
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix secret for kps thanos
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update recyclarr config
  kubernetes/main/apps/organizarrs/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/main

disable ingress for alertmanager
  kubernetes/main/apps/observability/alertmanager-discord/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
