Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

fix shared component references
  kubernetes/main/apps/databases/pgadmin/ks.yaml
  kubernetes/main/apps/dev/vscode/ks.yaml
  kubernetes/main/apps/downloads/animarr/ks.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
  kubernetes/main/apps/downloads/lidarr/ks.yaml
  kubernetes/main/apps/downloads/overseerr/ks.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/qbittorrent/ks.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
  kubernetes/main/apps/downloads/readarr/ks.yaml
  kubernetes/main/apps/downloads/recyclarr/ks.yaml
  kubernetes/main/apps/downloads/sabnzbd/ks.yaml
  kubernetes/main/apps/downloads/sonarr/ks.yaml
  kubernetes/main/apps/home-automation/frigate/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/media/calibre-web-automated/ks.yaml
  kubernetes/main/apps/media/calibre-web/ks.yaml
  kubernetes/main/apps/media/calibre/ks.yaml
  kubernetes/main/apps/media/lanraragi/ks.yaml
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/media/tautulli/ks.yaml
  kubernetes/main/apps/selfhosted/cyberchef/ks.yaml
  kubernetes/main/apps/selfhosted/immich/ks.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
  kubernetes/main/apps/selfhosted/teddit/ks.yaml
  kubernetes/main/apps/selfhosted/whoogle/ks.yaml
Labels: area/kubernetes, cluster/main

fix main repos
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/main/bootstrap/bootstrap.env
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/bootstrap/templates/resources.yaml.j2
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix main repos
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  kubernetes/main/flux/meta/repositories/helm/vector.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix component location
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix for real
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

remove unneeded files
  kubernetes/main/flux/apps.yaml
Labels: area/kubernetes, cluster/main

maybe fix issue
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

one more time
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
Labels: area/kubernetes, cluster/main

did I get them all this time?
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes, cluster/main

update namespace componenet
  kubernetes/shared/components/namespace/namespace.yaml
Labels: area/kubernetes

maybe fix issue?
  kubernetes/main/apps/dev/atuin/app/externalsecret.yaml
  kubernetes/main/apps/dev/coder/app/externalsecret.yaml
  kubernetes/main/apps/dev/coder/app/helmrelease.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/main/apps/dev/vscode/app/helmrelease.yaml
  kubernetes/main/apps/dev/vscode/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

is this unique to the dev namespace?
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

no it isn't
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix substitution label
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/shared/components/kustomization.yaml
Labels: area/kubernetes, cluster/main

test some things
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

test some things
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

some changes pt3
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

fix arc ks
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes, cluster/main

fix component reference
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix component reference
  kubernetes/main/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix arc ks
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/ks.yaml
Labels: area/kubernetes, cluster/main

fix databases ns
  kubernetes/main/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix arc
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/main

maybe fix missing sops key?
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/shared/components/common/alerts/alert.yaml
  kubernetes/shared/components/common/alerts/kustomization.yaml
  kubernetes/shared/components/common/alerts/provider.yaml
  kubernetes/shared/components/common/kustomization.yaml
  kubernetes/shared/components/common/namespace.yaml
  kubernetes/shared/components/common/sops/kustomization.yaml
  kubernetes/shared/components/common/sops/secret.sops.yaml
  kubernetes/shared/components/flux/alerts/kustomization.yaml
  kubernetes/shared/components/flux/sops/kustomization.yaml
  kubernetes/shared/components/namespace/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix arc
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/main

fix cluster vars
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/databases/kustomization.yaml
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/openebs/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/components/.gitkeep
  kubernetes/main/components/common/cluster-vars/cluster-secrets.secret.sops.yaml
  kubernetes/main/components/common/cluster-vars/cluster-settings.yaml
  kubernetes/main/components/common/cluster-vars/kustomization.yaml
  kubernetes/main/components/common/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix cluster vars
  kubernetes/main/flux/meta/kustomization.yaml
Labels: area/kubernetes, cluster/main

maybe fix openebs
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix openebs
  kubernetes/shared/repositories/helm/openebs.yaml
Labels: area/kubernetes

fix es
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

fix es
  kubernetes/main/apps/external-secrets/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

fix cert manager
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

fix cert manager
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/main

fix cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

component fixes
  kubernetes/main/apps/databases/pgadmin/ks.yaml
  kubernetes/main/apps/downloads/animarr/ks.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
  kubernetes/main/apps/downloads/lidarr/ks.yaml
  kubernetes/main/apps/downloads/overseerr/ks.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/qbittorrent/ks.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
  kubernetes/main/apps/downloads/readarr/ks.yaml
  kubernetes/main/apps/downloads/recyclarr/ks.yaml
  kubernetes/main/apps/downloads/sabnzbd/ks.yaml
  kubernetes/main/apps/downloads/sonarr/ks.yaml
  kubernetes/main/apps/home-automation/frigate/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/media/calibre-web-automated/ks.yaml
  kubernetes/main/apps/media/calibre-web/ks.yaml
  kubernetes/main/apps/media/calibre/ks.yaml
  kubernetes/main/apps/media/lanraragi/ks.yaml
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/media/tautulli/ks.yaml
  kubernetes/main/apps/selfhosted/cyberchef/ks.yaml
  kubernetes/main/apps/selfhosted/immich/ks.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
  kubernetes/main/apps/selfhosted/teddit/ks.yaml
Labels: area/kubernetes, cluster/main

fix gatus component
  kubernetes/shared/components/gatus/external/config.yaml
  kubernetes/shared/components/gatus/guarded/config.yaml
Labels: area/kubernetes

fix volsync component
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes

fix volsync component
  kubernetes/shared/components/volsync/kustomization.yaml
Labels: area/kubernetes

fix gatus reference
  kubernetes/main/apps/downloads/overseerr/ks.yaml
  kubernetes/main/apps/home-automation/frigate/ks.yaml
  kubernetes/main/apps/media/calibre-web/ks.yaml
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
  kubernetes/main/apps/selfhosted/whoogle/ks.yaml
Labels: area/kubernetes, cluster/main
