Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

more updates
  kubernetes/dns/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/dns/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/dns/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/dns/apps/kube-system/coredns/ks.yaml
  kubernetes/dns/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
Labels: area/kubernetes

fix error in grafana logout
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

don't generate too many certs
  kubernetes/dns/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/dns/apps/selfhosted/unifi/app/helmrelease.yaml
  kubernetes/main/apps/databases/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/dev/atuin/app/helmrelease.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/code/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/security/authentik/app/helmrelease.yaml
  kubernetes/main/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/main/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/teddit/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/whoogle/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

enable rook ceph cluster
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

misc changes
  kubernetes/main/flux/repositories/helm/emqx.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

update nas host address
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/nfs-pvc.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

disable smartctl scrapeconfig
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/main

even more updates
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/dns/bootstrap/talos/apply-clusterconfig.sh
Labels: area/kubernetes

don't make individual certs for each ingress
  kubernetes/main/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes, cluster/main

update bind
  kubernetes/dns/apps/network/bind/app/helmrelease.yaml
  kubernetes/dns/apps/network/bind/app/kustomization.yaml
  kubernetes/dns/apps/network/bind/app/resources/named.conf
  kubernetes/dns/apps/network/bind/app/resources/zones/db.cnas.dev
Labels: area/kubernetes

use production cert
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

try new url for unpoller
  kubernetes/main/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

archive vpn gateway
  .archive/vpn/downloads-gateway/app/externalsecret.yaml
  .archive/vpn/downloads-gateway/app/helmrelease.yaml
  .archive/vpn/downloads-gateway/app/kustomization.yaml
  .archive/vpn/downloads-gateway/app/networkpolicy.yaml
  .archive/vpn/downloads-gateway/ks.yaml
  .archive/vpn/kustomization.yaml
  .archive/vpn/namespace.yaml
Labels: none

add temporary restore date to remove bad backups
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

increment cnpg again
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix dep name
  kubernetes/main/apps/system-controllers/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

misc updates
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/main/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/coredns.yaml
  kubernetes/main/flux/repositories/helm/crunchydata.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/nextcloud-charts.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix yaml indentation
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

fix bind
  kubernetes/dns/apps/network/bind/app/resources/zones/db.cnas.dev
Labels: area/kubernetes

update dns talos config
  kubernetes/dns/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/dns/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

update s3 endpoint for terraform
  infrastructure/terraform/s3/providers.tf
Labels: none

I exhaust myself
  kubernetes/main/apps/system-controllers/kustomization.yaml
Labels: area/kubernetes, cluster/main

test fix grafana
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

using staging cert for nas for now
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes, cluster/nas

archive searxng
  .archive/selfhosted/searxng/app/externalsecret.yaml
  .archive/selfhosted/searxng/app/helmrelease.yaml
  .archive/selfhosted/searxng/app/kustomization.yaml
  .archive/selfhosted/searxng/app/resources/config.yaml
  .archive/selfhosted/searxng/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/main/bootstrap/talos/deploy-integrations.sh
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/helmrepository.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

increment cnpg for DR
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

slow down speedtest-exporter
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/main

fix unpoller service name
  kubernetes/main/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nas

simplify kps setup
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/dns.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/gatus.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/nas.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
Labels: area/kubernetes, cluster/main

fix grafana url for alermanager
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix service IP
  kubernetes/main/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes, cluster/main

enable s3 terraform
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
Labels: area/kubernetes, cluster/main

fix vector ks
  kubernetes/main/apps/observability/vector/aggregator/kustomization.yaml
Labels: area/kubernetes, cluster/main

no rollback
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

switch to production cert
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/main

update some cilium values
  kubernetes/nas/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas
