Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

maybe fix prowlarr?
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix prowlarr?
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

maybe fix prowlarr?
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/kustomization.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/pvc.yaml
Labels: area/kubernetes, cluster/main

update radarr
  kubernetes/main/apps/organizarrs/radarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update radarr
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix sabnzbd
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

misc updates
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix authentik
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

disable mayastor for now
  kubernetes/main/apps/openebs-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

update readarr
  kubernetes/main/apps/organizarrs/readarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

readarr doesn't support turning off log db
  kubernetes/main/apps/organizarrs/readarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update tf secret to add backend
  kubernetes/main/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix typo
  infrastructure/terraform/s3/static-content.tf
Labels: none

enable ocis to see what breaks
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

deploy openspeedtest
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/network/openspeedtest/app/helmrelease.yaml
  kubernetes/main/apps/network/openspeedtest/app/kustomization.yaml
  kubernetes/main/apps/network/openspeedtest/ks.yaml
Labels: area/kubernetes, cluster/main

hopefully fix authentik
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

undo
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix authentik proxy annotations
  infrastructure/terraform/authentik/.terraform.lock.hcl
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/system.tf
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  kubernetes/main/apps/kyverno/kyverno/policies/ingress-authentik-annotations.yaml
Labels: area/kubernetes, cluster/main

undo change
  kubernetes/main/apps/kyverno/kyverno/policies/ingress-authentik-annotations.yaml
Labels: area/kubernetes, cluster/main

disable ocis
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix emqx
  kubernetes/main/apps/databases/emqx/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix unpoller
  kubernetes/main/apps/observability/unpoller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update cloudflare tf
  infrastructure/terraform/cloudflare/domain_ingress.tf
Labels: none

update cloudflare tf
  infrastructure/terraform/cloudflare/domain_hardware.tf
  infrastructure/terraform/cloudflare/domain_ingress.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/firewall.tf
Labels: none

fix home assistant
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

more fix better
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

disable coder for now
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix database backup
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

more fix
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

don't use local runner for renovate
  .github/workflows/renovate.yaml
Labels: area/github

update cluster config
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

update cilium interface
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

undo
  kubernetes/nas/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nas

give animarr more memory
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

updates to dns cluster
  kubernetes/dns/apps/kyverno/kustomization.yaml
  kubernetes/dns/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/dns/apps/kyverno/kyverno/ks.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/ingress-cert-manager-annotations.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/ingress-type-annotations.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/dns/apps/kyverno/namespace.yaml
  kubernetes/dns/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/dns/apps/openebs/kustomization.yaml
  kubernetes/dns/apps/openebs/namespace.yaml
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/dns/apps/openebs/openebs/app/kustomization.yaml
  kubernetes/dns/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/dns/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
Labels: area/kubernetes

more fixes
  kubernetes/dns/apps/openebs/kustomization.yaml
  kubernetes/dns/apps/openebs/namespace.yaml
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/dns/apps/openebs/openebs/app/kustomization.yaml
  kubernetes/dns/apps/openebs/openebs/ks.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

more fixes
  kubernetes/dns/apps/network/dnsdist/app/kustomization.yaml
Labels: area/kubernetes
