Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

see if I actually understand what's going on
  docker/truenas/01-traefik/docker-compose.yaml
Labels: none

fix missing config
  docker/truenas/01-traefik/docker-compose.yaml
Labels: none

oops
  docker/truenas/01-traefik/docker-compose.yaml
Labels: none

fix missing config values
  docker/truenas/03-garage/config/config.toml
Labels: none

try again
  docker/truenas/03-garage/config/config.toml
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

does webui need admin token?
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

maybe this works?
  docker/truenas/03-garage/docker-compose.yaml
Labels: none

fix traefik config
  docker/truenas/01-traefik/config/traefik.yaml
Labels: none

undo
  docker/truenas/01-traefik/config/traefik.yaml
Labels: none

test
  kubernetes/apps/external-secrets/onepassword-connect/app/clustersecretstore.yaml
Labels: area/kubernetes

undo for now
  kubernetes/apps/external-secrets/onepassword-connect/app/clustersecretstore.yaml
Labels: area/kubernetes

redo
  kubernetes/apps/external-secrets/onepassword-connect/app/clustersecretstore.yaml
Labels: area/kubernetes

enable hubble to test dropped packets
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

enable hubble ui
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

disable hubble
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

change domain for nas apps
  docker/truenas/01-traefik/config/dynamic/dashboard.yaml
  docker/truenas/01-traefik/config/traefik.yaml
  docker/truenas/03-garage/.env
  docker/truenas/03-garage/config/config.toml
Labels: none

test databases objectstore to docker
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/objectstore.yaml
Labels: area/kubernetes

move kopia backup to doco-cd instance
  kubernetes/components/volsync/externalsecret.yaml
Labels: area/kubernetes

update volsync
  kubernetes/apps/system/volsync/app/kustomization.yaml
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/apps/system/volsync/maintenance/externalsecret.yaml
  kubernetes/apps/system/volsync/maintenance/kustomization.yaml
  kubernetes/apps/system/volsync/maintenance/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

enable kopia web gui
  kubernetes/apps/system/kopia/app/configmap.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

disable kopia webgui
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

add fluent-bit
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/ocirepository.yaml
  kubernetes/apps/observability/fluent-bit/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

disable gatus for now
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

test grafana operator
  kubernetes/apps/observability/fluent-bit/app/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/instance/externalsecret.yaml
  kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
  kubernetes/apps/observability/grafana-operator/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana-operator/instance/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/instance/servicemonitor.yaml
  kubernetes/apps/observability/grafana-operator/ks.yaml
  kubernetes/apps/observability/grafana-operator/operator/grafanadashboard.yaml
  kubernetes/apps/observability/grafana-operator/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/operator/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/operator/ocirepository.yaml
  kubernetes/apps/observability/grafana/TODO
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix grafana
  kubernetes/apps/observability/grafana-operator/app/externalsecret.yaml
  kubernetes/apps/observability/grafana-operator/app/grafana.yaml
  kubernetes/apps/observability/grafana-operator/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/app/servicemonitor.yaml
Labels: area/kubernetes

fix gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/grafana-operator/app/externalsecret.yaml
  kubernetes/apps/observability/grafana-operator/app/grafanadatasource.yaml
  kubernetes/apps/observability/grafana-operator/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/operator/ocirepository.yaml
Labels: area/kubernetes

big oops
  kubernetes/apps/observability/grafana-operator/app/grafanadashboard.yaml
  kubernetes/apps/observability/grafana-operator/app/helmrelease.yaml
  kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/app/ocirepository.yaml
  kubernetes/apps/observability/grafana-operator/instance/externalsecret.yaml
  kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
  kubernetes/apps/observability/grafana-operator/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana-operator/instance/kustomization.yaml
  kubernetes/apps/observability/grafana-operator/instance/servicemonitor.yaml
Labels: area/kubernetes

fix dep
  kubernetes/apps/observability/grafana-operator/ks.yaml
Labels: area/kubernetes

add a bunch of grafana dashboards
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/authentik.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/s3.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/observability/fluent-bit/app/grafanadashboard.yaml
  kubernetes/apps/observability/fluent-bit/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/grafanadashboard.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/TODO
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/system/keda/app/grafanadashboard.yaml
  kubernetes/apps/system/keda/app/kustomization.yaml
  kubernetes/apps/system/node-feature-discovery/app/ocirepository.yaml
  kubernetes/talos/patches/controller/cluster.yaml
  templates/externalsecret.yaml
  templates/kustomize/kustomization.yaml
  templates/namespace/kustomization.yaml
  templates/namespace/namespace.yaml
  templates/volsync.yaml
  terraform/secrets.sops.yaml
Labels: area/kubernetes, area/terraform

update keda
  kubernetes/apps/system/keda/app/helmrelease.yaml
Labels: area/kubernetes

remove all replication sources
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

re-enable volsync source without cache
  kubernetes/components/volsync/kustomization.yaml
  kubernetes/components/volsync/replicationdestination.yaml
  kubernetes/components/volsync/replicationsource.yaml
Labels: area/kubernetes

disable descheduler for now
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

disable again
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

try enabling replication source again
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

why does plex take so much space?
  kubernetes/apps/media/plex/ks.yaml
Labels: area/kubernetes

reduce logs from external dns
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

archive kguardian for now
  .archive/kguardian/kguardian/app/helmrelease.yaml
  .archive/kguardian/kguardian/app/httproute.yaml
  .archive/kguardian/kguardian/app/kustomization.yaml
  .archive/kguardian/kguardian/app/ocirepository.yaml
  .archive/kguardian/kguardian/ks.yaml
  .archive/kguardian/kustomization.yaml
  .archive/kguardian/namespace.yaml
Labels: none

disable rs again
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes

try again
  kubernetes/components/volsync/kustomization.yaml
Labels: area/kubernetes
