Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

update external secrets
  kubernetes/apps/external-secrets/external-secrets/app/kustomizeconfig.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/kustomization.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
Labels: area/kubernetes

fix folder name
  kubernetes/apps/network/cloudflare-dns/ks.yaml
  kubernetes/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
  kubernetes/apps/network/external-dns/cloudflare/prometheusrule.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/ocirepository.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix envoy gateway ks
  kubernetes/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes

update openebs for talos 1.12 config
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

fix externaldns
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
Labels: area/kubernetes

update rook
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix repo name
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
Labels: area/kubernetes

fix rook
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

disable pgadmin again
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

use prod cert
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
Labels: area/kubernetes

test schema publish job
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/apps/jobs/namespace.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/externalsecret.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/helmrelease.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/kustomization.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/ks.yaml
Labels: area/kubernetes

staging ceert
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
Labels: area/kubernetes

fix jobs ks
  kubernetes/apps/jobs/kustomization.yaml
Labels: area/kubernetes

fix ocirepo
  kubernetes/apps/jobs/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix rook
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/ocirepository.yaml
Labels: area/kubernetes

fix rook
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

prod cert
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
Labels: area/kubernetes

fix kromgo
  kubernetes/apps/observability/kromgo/ks.yaml
Labels: area/kubernetes

use github workflow for schemas instead of cronjob
  .github/schemas-index.html
  .github/workflows/schemas.yaml
  kubernetes/apps/jobs/kustomization.yaml
  kubernetes/apps/jobs/namespace.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/externalsecret.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/helmrelease.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/app/kustomization.yaml
  kubernetes/apps/jobs/publish-k8s-schemas/ks.yaml
Labels: area/github, area/kubernetes

add netshoot to troubleshoot cluster comms issues
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/test-pod/app/helmrelease.yaml
  kubernetes/apps/selfhosted/test-pod/app/kustomization.yaml
  kubernetes/apps/selfhosted/test-pod/app/pvc.yaml
  kubernetes/apps/selfhosted/test-pod/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/selfhosted/test-pod/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/externalsecret.yaml
Labels: area/kubernetes

add pvc to test pod
  kubernetes/apps/selfhosted/test-pod/app/helmrelease.yaml
  kubernetes/apps/selfhosted/test-pod/app/kustomization.yaml
Labels: area/kubernetes

disable netshoot hr
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

update netshoot settings
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/netshoot/app/helmrelease.yaml
  kubernetes/apps/network/netshoot/app/kustomization.yaml
  kubernetes/apps/network/netshoot/app/pvc.yaml
  kubernetes/apps/network/netshoot/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/teddit/app/helmrelease.yaml
  kubernetes/apps/selfhosted/teddit/app/kustomization.yaml
  kubernetes/apps/selfhosted/teddit/ks.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/network/netshoot/ks.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/network/netshoot/ks.yaml
Labels: area/kubernetes

enable iperf port
  kubernetes/apps/network/netshoot/app/helmrelease.yaml
Labels: area/kubernetes

add netshoot to nas cluster
  nas/apps/network/netshoot/app/helmrelease.yaml
  nas/apps/network/netshoot/app/kustomization.yaml
  nas/apps/network/netshoot/ks.yaml
Labels: none

fix external dns for nas
  nas/apps/network/external-dns/cloudflare/externalsecret.yaml
  nas/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: none

update arc settings
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

update rbac
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
Labels: area/kubernetes

try again
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes

archive ai ns until node is running again
  .archive/ai/TODO
  .archive/ai/kustomization.yaml
  .archive/ai/namespace.yaml
  .archive/ai/ollama/app/helmrelease.yaml
  .archive/ai/ollama/app/kustomization.yaml
  .archive/ai/ollama/app/pvc.yaml
  .archive/ai/ollama/ks.yaml
  .archive/ai/open-webui/app/externalsecret.yaml
  .archive/ai/open-webui/app/helmrelease.yaml
  .archive/ai/open-webui/app/kustomization.yaml
  .archive/ai/open-webui/ks.yaml
  .archive/ai/paperless-ai/app/externalsecret.yaml
  .archive/ai/paperless-ai/app/helmrelease.yaml
  .archive/ai/paperless-ai/app/kustomization.yaml
  .archive/ai/paperless-ai/ks.yaml
  .archive/ai/swarmui/app/externalsecret.yaml
  .archive/ai/swarmui/app/helmrelease.yaml
  .archive/ai/swarmui/app/kustomization.yaml
  .archive/ai/swarmui/app/pvc.yaml
  .archive/ai/swarmui/ks.yaml
Labels: none

update schema workflow
  .github/workflows/schemas.yaml
Labels: area/github

update schema server
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/apps/system/reloader/app/helmrelease.yaml
  kubernetes/apps/system/volsync/app/helmrelease.yaml
  nas/apps/cert-manager/cert-manager/app/helmrelease.yaml
  nas/apps/external-secrets/external-secrets/app/helmrelease.yaml
  nas/apps/flux-system/flux-instance/app/helmrelease.yaml
  nas/apps/kube-system/cilium/app/helmrelease.yaml
  nas/apps/kube-system/coredns/app/helmrelease.yaml
  nas/apps/kube-system/reloader/app/helmrelease.yaml
  nas/apps/network/external-dns/cloudflare/helmrelease.yaml
  nas/apps/network/external-dns/unifi/helmrelease.yaml
  nas/apps/self-hosted/garage/app/helmrelease.yaml
  nas/apps/self-hosted/garage/webui/helmrelease.yaml
Labels: area/kubernetes

add debug info to externaldns
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

use token for cert manager in nas cluster
  nas/apps/cert-manager/cert-manager/app/externalsecret.yaml
  nas/apps/cert-manager/cert-manager/app/issuer-letsencrypt-prd.yaml
  nas/apps/cert-manager/cert-manager/app/issuer-letsencrypt-staging.yaml
Labels: none

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
