Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

almost done 3
  kubernetes/dns/apps/network/nginx/certificates/certificates.yaml
  kubernetes/dns/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/dns/apps/network/nginx/certificates/pushsecret.yaml
  kubernetes/dns/apps/network/nginx/shared/certificate-staging.yaml
  kubernetes/dns/apps/network/nginx/shared/certificate.yaml
  kubernetes/dns/apps/network/nginx/shared/dashboard/kustomization.yaml
  kubernetes/dns/apps/network/nginx/shared/kustomization.yaml
Labels: area/kubernetes

almost done 4
  kubernetes/dns/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/dns/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
Labels: area/kubernetes

almost done 5
  .taskfiles/flux/Taskfile.yaml
  kubernetes/dns/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
Labels: area/kubernetes, area/taskfile

fix
  kubernetes/dns/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/dns/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

more fixes
  kubernetes/dns/apps/selfhosted/bind/app/helmrelease.yaml
  kubernetes/dns/apps/selfhosted/blocky/app/helmrelease.yaml
  kubernetes/dns/apps/selfhosted/dnsdist/app/helmrelease.yaml
Labels: area/kubernetes

more fixes
  kubernetes/dns/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/main/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/shared/repositories/helm/controlplaneio.yaml
  kubernetes/shared/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix coredns
  kubernetes/dns/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/flux/meta/repositories/helm/wiremind.yaml
  kubernetes/shared/repositories/helm/controlplaneio.yaml
Labels: area/kubernetes, cluster/main

fix reloader
  kubernetes/dns/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix coredns
  kubernetes/dns/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/dns/apps/system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update openebs
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

fix openebs
  kubernetes/dns/apps/openebs/openebs/ks.yaml
Labels: area/kubernetes

maybe fix openebs
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

maybe fix openebs
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

maybe fix openebs
  kubernetes/dns/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

update openebs on main cluster
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update talos config
  .archive/system-controllers/k8s-ycl/app/helmrelease.yaml
  .archive/system-controllers/k8s-ycl/app/kustomization.yaml
  .archive/system-controllers/k8s-ycl/ks.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/dns/apps/selfhosted/bind/app/resources/zones/db.ctec.run
  kubernetes/dns/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
  kubernetes/dns/apps/system-controllers/k8s-ycl/app/kustomization.yaml
  kubernetes/dns/apps/system-controllers/k8s-ycl/ks.yaml
  kubernetes/dns/apps/system-controllers/kustomization.yaml
  kubernetes/dns/talos/talconfig.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

test ingress whitelist
  kubernetes/main/apps/selfhosted/whoogle/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test cwa
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix external secrets. Move authentik ns
  kubernetes/main/apps/authentik/authentik/app/externalsecret.yaml
  kubernetes/main/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/main/apps/authentik/authentik/app/kustomization.yaml
  kubernetes/main/apps/authentik/authentik/ks.yaml
  kubernetes/main/apps/authentik/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main

change ha namespace. fix frigate
  kubernetes/main/apps/home/frigate/app/config.yaml
  kubernetes/main/apps/home/frigate/app/externalsecret.yaml
  kubernetes/main/apps/home/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home/frigate/app/kustomization.yaml
  kubernetes/main/apps/home/frigate/ks.yaml
  kubernetes/main/apps/home/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home/home-assistant/ks.yaml
  kubernetes/main/apps/home/kustomization.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

fix frigate dependencies
  kubernetes/main/apps/home/frigate/app/helmrelease.yaml
  kubernetes/main/apps/home/frigate/ks.yaml
Labels: area/kubernetes, cluster/main

archive calibre-web
  .archive/media/calibre-web/app/helmrelease.yaml
  .archive/media/calibre-web/app/kustomization.yaml
  .archive/media/calibre-web/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

update pgadmin
  kubernetes/main/apps/databases/pgadmin/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update calibre-web
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix ingress annotations
  .archive/kyverno/kyverno/policies/ingress-authentik-annotations.yaml
  .archive/media/calibre-web/app/helmrelease.yaml
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/system.tf
  kubernetes/main/apps/home/frigate/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/whoogle/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

revert cwa to internal ingress
  kubernetes/main/apps/media/calibre-web-automated/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update kps and loki
  kubernetes/main/apps/observability/grafana/app/dashboard/home.json
  kubernetes/main/apps/observability/grafana/app/dashboard/kustomization.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/loki/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/shared/repositories/helm/kustomization.yaml
  kubernetes/shared/repositories/helm/prometheus-community.yaml
  kubernetes/shared/repositories/oci/kube-prometheus-stack.yaml
  kubernetes/shared/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix kps
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix kps 2
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test gateways
  kubernetes/main/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/issuers.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/pushsecret.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/main

update cilium
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/servicemonitor.yaml
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/main

fix ip conflict
  kubernetes/main/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/main

something is up with cilium
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix target name conflict
  kubernetes/main/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/main

re-enable push secret
  kubernetes/main/apps/network/nginx/certificates/kustomization.yaml
Labels: area/kubernetes, cluster/main

use staging certificate for gateway
  kubernetes/main/apps/kube-system/cilium/gateway/certificate.yaml
Labels: area/kubernetes, cluster/main

archive nginx
  .archive/network/nginx/certificates/certificates.yaml
  .archive/network/nginx/certificates/kustomization.yaml
  .archive/network/nginx/certificates/pushsecret.yaml
  .archive/network/nginx/external/helmrelease.yaml
  .archive/network/nginx/external/kustomization.yaml
  .archive/network/nginx/internal/helmrelease.yaml
  .archive/network/nginx/internal/kustomization.yaml
  .archive/network/nginx/ks.yaml
  kubernetes/main/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

update dns records
  kubernetes/dns/apps/selfhosted/bind/app/resources/zones/db.ctec.run
Labels: area/kubernetes

fix calibre-web
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

updates
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/ingress.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/main/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
