Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

add database schema
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

don't use custom schema
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

re-do forgejo install
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

undo install lock
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update default theme
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

use LB ip sharing for forgejo
  kubernetes/main/apps/dev/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update calibre?
  kubernetes/main/apps/media/calibre/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

get debug logs from atuin
  kubernetes/main/apps/dev/atuin/app/helmrelease.yaml
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

make atuin a statefulset
  kubernetes/main/apps/dev/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe this will add logs?
  kubernetes/main/apps/dev/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

re-add 1password connect
  kubernetes/dns/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/dns/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/dns/apps/security/external-secrets/ks.yaml
  kubernetes/dns/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/dns/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/dns/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/dns/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
  kubernetes/dns/apps/security/onepassword-connect/ks.yaml
  kubernetes/dns/flux/repositories/helm/coredns.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/flux/repositories/helm/coredns.yaml
Labels: area/kubernetes, cluster/main

fix helm version
  kubernetes/dns/apps/security/onepassword-connect/app/helmrelease.yaml
Labels: area/kubernetes

transfer bootstrap to sops
  .sops.yaml
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
  kubernetes/dns/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/dns/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/dns/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/dns/flux/vars/externalsecret.yaml
  kubernetes/dns/flux/vars/kustomization.yaml
  kubernetes/main/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/main/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/main/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/main/flux/vars/externalsecret.yaml
  kubernetes/main/flux/vars/kustomization.yaml
  kubernetes/nas/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/nas/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/nas/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/nas/flux/vars/externalsecret.yaml
  kubernetes/nas/flux/vars/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/nas

convert token to base64
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

update key
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

use sops for substitution
  kubernetes/dns/flux/apps.yaml
Labels: area/kubernetes

use sops for substitution
  kubernetes/dns/flux/config/cluster.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/nas/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

fix oops
  kubernetes/dns/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes

fix token for secretstore
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

test add cluster secret store to main cluster
  kubernetes/dns/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
  kubernetes/main/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/token.secret.sops.yaml
Labels: area/kubernetes, cluster/main

try unique token for each cluster
  kubernetes/main/apps/security/external-secrets/stores/token.secret.sops.yaml
Labels: area/kubernetes, cluster/main

try http instead of https
  kubernetes/dns/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

test key rewrite for cert manager
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

maybe rewrite is breaking it?
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

fix cloudflare es
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/dns/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/dns/apps/network/bind/ks.yaml
  kubernetes/dns/apps/network/blocky/ks.yaml
  kubernetes/dns/apps/network/cloudflared/ks.yaml
  kubernetes/dns/apps/network/external-dns/ks.yaml
  kubernetes/dns/apps/observability/gatus/ks.yaml
  kubernetes/dns/apps/security/external-secrets/ks.yaml
  kubernetes/dns/apps/selfhosted/smtp-relay/ks.yaml
  kubernetes/main/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

fix oops
  kubernetes/dns/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes

swap all secrets in dns cluster to 1pass
  kubernetes/dns/apps/network/bind/app/externalsecret.yaml
  kubernetes/dns/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/dns/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/dns/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/dns/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/dns/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/dns/apps/network/cloudflared/ks.yaml
  kubernetes/dns/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/dns/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate.yaml
  kubernetes/dns/apps/selfhosted/smtp-relay/app/externalsecret.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

oops
  kubernetes/dns/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/dns/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

move opc back to ingress
  kubernetes/dns/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main

add cutil.dev to dns
  kubernetes/dns/apps/network/bind/app/kustomization.yaml
  kubernetes/dns/apps/network/bind/app/resources/named.conf
  kubernetes/dns/apps/network/bind/app/resources/zones/db.cutil.dev
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

test es fix on bind
  kubernetes/dns/apps/network/bind/app/externalsecret.yaml
Labels: area/kubernetes

temporary fix for cert-manager
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

test fix for es
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/dns/apps/network/bind/app/externalsecret.yaml
  kubernetes/dns/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/dns/apps/network/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes

fix bind
  kubernetes/dns/apps/network/bind/app/helmrelease.yaml
Labels: area/kubernetes

fix externaldns
  kubernetes/dns/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/dns/apps/network/bind/app/resources/zones/db.kokoro.wtf
Labels: area/kubernetes

test fix for bind
  kubernetes/dns/apps/network/dnsdist/app/helmrelease.yaml
Labels: area/kubernetes

fix cert manager on main cluster
  kubernetes/dns/apps/network/bind/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes, cluster/main

fix cert manager on nas cluster
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes, cluster/nas

test fix cluster secret store on main cluster
  kubernetes/main/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/main/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/main/apps/security/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/security/external-secrets/stores/token.secret.sops.yaml
Labels: area/kubernetes, cluster/main
