Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

try again
  kubernetes/dns/apps/kube-system/cilium/app/values.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/main/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/main/apps/network/cloudflared/app/config/config.yaml
Labels: area/kubernetes, cluster/main

changes
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/main/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/main/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix external secrets
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix spegel
  kubernetes/dns/apps/system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix grafana maybe
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update rook config
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

enable cnpg backup
  kubernetes/main/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

don't compress rook?
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fixes
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable cnpg backup for now
  kubernetes/main/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

test fix rook
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

inc
  kubernetes/main/apps/databases/cloudnative-pg/app/helmrelease.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

disable value
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

inc
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/databases/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

wait for volsync before deploying
  kubernetes/main/apps/system/volsync/ks.yaml
Labels: area/kubernetes, cluster/main

install edns crds
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

make workloads work for external-secrets to finish before loading
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/authentik/authentik/ks.yaml
  kubernetes/main/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/main/apps/databases/emqx/ks.yaml
  kubernetes/main/apps/databases/pgadmin/ks.yaml
  kubernetes/main/apps/databases/postgres-backup/ks.yaml
  kubernetes/main/apps/downloads/animarr/ks.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
  kubernetes/main/apps/downloads/lidarr/ks.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
  kubernetes/main/apps/downloads/readarr/ks.yaml
  kubernetes/main/apps/downloads/sonarr/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
  kubernetes/main/apps/home/home-assistant/ks.yaml
  kubernetes/main/apps/home/rtlamr2mqtt/ks.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/observability/gatus/ks.yaml
  kubernetes/main/apps/observability/grafana/ks.yaml
  kubernetes/main/apps/observability/loki/ks.yaml
  kubernetes/main/apps/observability/unpoller/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/apps/selfhosted/atuin/ks.yaml
  kubernetes/main/apps/selfhosted/immich/ks.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes, cluster/main

fix gpu plugin
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/main

more fixes
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/ocirepository.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/ocirepository.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/10gb-nic.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/intel-gpu.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/rules/nesdr-rtl-sdr-device.yaml
Labels: area/kubernetes, cluster/main

fix default pvc class
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update spegel
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/main

maybe fix name resolution
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix rook
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

maybe fix rook
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

try one more time before reverting
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

why isn't volsync working?
  kubernetes/main/apps/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

try to fix rook
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test warn_recent_interval again
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test some more changes
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add jitter to volsync
  kubernetes/main/apps/system/volsync/app/kustomization.yaml
  kubernetes/main/apps/system/volsync/app/mutatingadmissionpolicy.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

get as close to original rook setup as possible
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

try increasing resource limits for rook?
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix volsync templates
  kubernetes/shared/components/volsync/local/externalsecret.yaml
  kubernetes/shared/components/volsync/remote/externalsecret.yaml
Labels: area/kubernetes

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

disable nfs mover for now
  kubernetes/main/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes, cluster/main

update intel gpu operator config
  kubernetes/main/apps/system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/main

updates
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/main/apps/kube-system/descheduler/ks.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

re-add descheduler
  kubernetes/dns/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/dns/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/dns/apps/kube-system/descheduler/ks.yaml
  kubernetes/dns/apps/kube-system/kustomization.yaml
Labels: area/kubernetes
