Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

add fstrim cronjob
  kubernetes/main/apps/system/fstrim/ks.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

updates for NAS
  kubernetes/nas/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/kustomization.yaml
  kubernetes/nas/apps/kube-system/namespace.yaml
  kubernetes/nas/apps/observability/kustomization.yaml
  kubernetes/nas/apps/observability/namespace.yaml
  kubernetes/nas/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/observability/node-exporter/app/kustomization.yaml
  kubernetes/nas/apps/observability/node-exporter/ks.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/helmrepository.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/nas/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/nas/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/nas/apps/observability/smartctl-exporter/ks.yaml
Labels: area/kubernetes, cluster/nas

fix reloader ns
  kubernetes/nas/apps/system/reloader/ks.yaml
Labels: area/kubernetes, cluster/nas

test use dragonfly for authentik
  kubernetes/main/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

add kyverno to dns cluster for ingress annotations
  kubernetes/dns/apps/kyverno/kustomization.yaml
  kubernetes/dns/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/dns/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/dns/apps/kyverno/kyverno/ks.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/ingress-cert-manager-annotations.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/ingress-type-annotations.yaml
  kubernetes/dns/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/dns/apps/kyverno/namespace.yaml
Labels: area/kubernetes

oops
  kubernetes/nas/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/nas

don't waste certs for now
  kubernetes/main/apps/kyverno/kyverno/policies/ingress-cert-manager-annotations.yaml
Labels: area/kubernetes, cluster/main

add filebrowser to nas
  kubernetes/nas/apps/storage/filebrowser/app/claim.yaml
  kubernetes/nas/apps/storage/filebrowser/app/helmrelease.yaml
  kubernetes/nas/apps/storage/filebrowser/app/kustomization.yaml
  kubernetes/nas/apps/storage/filebrowser/ks.yaml
  kubernetes/nas/apps/storage/flexo/app/helmrelease.yaml
  kubernetes/nas/apps/storage/minio/app/helmrelease.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/nas

even more updates
  kubernetes/dns/apps/kube-system/kustomization.yaml
  kubernetes/dns/apps/system/kustomization.yaml
  kubernetes/dns/apps/system/spegel/app/helm-values.yaml
  kubernetes/dns/apps/system/spegel/app/helmrelease.yaml
  kubernetes/dns/apps/system/spegel/app/kustomization.yaml
  kubernetes/dns/apps/system/spegel/app/kustomizeconfig.yaml
  kubernetes/dns/apps/system/spegel/ks.yaml
  kubernetes/dns/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix domain for pikvm node exporter
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/main

enable filebrowser
  kubernetes/nas/apps/storage/filebrowser/ks.yaml
  kubernetes/nas/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/nas

increment cnpg again
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/nas/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/nas

push suc but don't enable
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/VolSync/templates/list.tmpl.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/app/kustomization.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/app/rbac.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/main/apps/system-controllers/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

update recyclarr
  kubernetes/main/apps/organizarrs/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

update recyclarr
  kubernetes/main/apps/organizarrs/recyclarr/app/kustomization.yaml
  kubernetes/main/apps/organizarrs/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

test previous field
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

increment cnpg for DR
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix one more bad reference
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nas

update vector
  kubernetes/main/apps/observability/vector/agent/helmrelease.yaml
  kubernetes/main/apps/observability/vector/agent/kustomization.yaml
  kubernetes/main/apps/observability/vector/agent/rbac.yaml
  kubernetes/main/apps/observability/vector/agent/resources/vector.yaml
  kubernetes/main/apps/observability/vector/aggregator/helmrelease.yaml
  kubernetes/main/apps/observability/vector/aggregator/kustomization.yaml
  kubernetes/main/apps/observability/vector/aggregator/resources/vector.yaml
Labels: area/kubernetes, cluster/main

change domain for nas
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/nas

enable suc for k8s
  kubernetes/main/apps/system-controllers/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix externaldns on nas
  kubernetes/nas/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/nas/apps/network/ingress-nginx/internal/certificate.yaml
  kubernetes/nas/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nas

fix secret name
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nas

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/databases/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/main

disable s3 terraform
  kubernetes/main/apps/flux-system/tf-controller/app/s3.yaml
Labels: area/kubernetes, cluster/main

fix unifi address for unpoller
  kubernetes/main/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update dns bootstrapping
  kubernetes/dns/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/dns/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/dns/flux/repositories/helm/coredns.yaml
  kubernetes/dns/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

update dnsdist
  kubernetes/dns/apps/network/dnsdist/app/resources/dnsdist.conf
Labels: area/kubernetes

this is why I shouldn't be doing this at 5am
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nas

upgrade volsync
  kubernetes/main/apps/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

don't use gateway for whoogle
  kubernetes/main/apps/selfhosted/namespace.yaml
Labels: area/kubernetes, cluster/main

fix template
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

fix emqx service name
  kubernetes/main/apps/home-automation/frigate/app/config.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix dns
  kubernetes/dns/apps/network/bind/app/resources/zones/db.ctec.run
Labels: area/kubernetes

add monitoring to nas cluster
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/nas/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/nas/apps/observability/kustomization.yaml
  kubernetes/nas/apps/observability/node-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/observability/node-exporter/ks.yaml
  kubernetes/nas/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/observability/vector/app/agent/helmrelease.yaml
  kubernetes/nas/apps/observability/vector/app/agent/kustomization.yaml
  kubernetes/nas/apps/observability/vector/app/agent/rbac.yaml
  kubernetes/nas/apps/observability/vector/app/agent/resources/vector.yaml
  kubernetes/nas/apps/observability/vector/app/kustomization.yaml
  kubernetes/nas/apps/observability/vector/ks.yaml
Labels: area/kubernetes, cluster/nas

fix thanos query port number
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable rook ceph for now
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
