Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

enable sops substitution on main and nas cluster
  kubernetes/main/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/main/flux/apps.yaml
  kubernetes/nas/flux/apps.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

update default permissions for *arrs
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/radarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/readarr/app/helmrelease.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test new var names for sonarr
  kubernetes/main/apps/organizarrs/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update arr secrets to use 1pass
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/radarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/readarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/recyclarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

switch databases over to 1pass
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/databases/cloudnative-pg/app/externalsecret.yaml
  kubernetes/main/apps/databases/emqx/app/externalsecret.yaml
  kubernetes/main/apps/databases/postgres-backup/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move dev to 1pass
  kubernetes/main/apps/databases/pgadmin/app/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/dev/atuin/app/externalsecret.yaml
  kubernetes/main/apps/dev/coder/app/externalsecret.yaml
  kubernetes/main/apps/dev/forgejo/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/dev/coder/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move downloads to 1pass
  kubernetes/main/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move flux-system to 1pass
  kubernetes/main/apps/flux-system/add-ons/webhook/github/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move home-automation to 1pass
  infrastructure/terraform/authentik/main.tf
  kubernetes/main/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix recyclarr
  kubernetes/main/apps/organizarrs/recyclarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update ha ns for onepassword
  kubernetes/main/apps/home-automation/rtlamr2mqtt/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update network ns to onepassword
  kubernetes/main/apps/dev/atuin/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move observability ns to onepassword
  kubernetes/main/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/main/apps/observability/loki/app/externalsecret.yaml
  kubernetes/main/apps/observability/thanos/app/externalsecret.yaml
  kubernetes/main/apps/observability/unpoller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

archive vaultwarden. Move security ns to onepass
  .archive/security/vaultwarden/app/externalsecret.yaml
  .archive/security/vaultwarden/app/helmrelease.yaml
  .archive/security/vaultwarden/app/kustomization.yaml
  .archive/security/vaultwarden/app/pvc.yaml
  .archive/security/vaultwarden/ks.yaml
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
  kubernetes/main/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/main

move selfhosted to onepass
  kubernetes/main/apps/selfhosted/immich/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/redlib/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move volsync to onepass
  kubernetes/main/apps/system/volsync/app/clustersecretstore.yaml
  kubernetes/main/apps/system/volsync/app/kustomization.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, cluster/main

move nas to onepass
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/nas/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/nas/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/nas/apps/security/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/nas/apps/security/external-secrets/ks.yaml
  kubernetes/nas/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/nas/apps/security/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes, cluster/nas

add minio to onepass
  kubernetes/nas/apps/storage/minio/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nas

disable tf controller during changes
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

update 1p connect token
  kubernetes/dns/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
  kubernetes/main/apps/security/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

update 1p connect token
  kubernetes/main/apps/selfhosted/kustomization.yaml
  kubernetes/nas/apps/security/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/main, cluster/nas

update s3 tf to use onepass
  infrastructure/terraform/s3/.terraform.lock.hcl
  infrastructure/terraform/s3/doppler.tf
  infrastructure/terraform/s3/forgejo.tf
  infrastructure/terraform/s3/loki.tf
  infrastructure/terraform/s3/main.tf
  infrastructure/terraform/s3/minio.tf
  infrastructure/terraform/s3/modules/minio/main.tf
  infrastructure/terraform/s3/modules/minio/outputs.tf
  infrastructure/terraform/s3/modules/minio/variables.tf
  infrastructure/terraform/s3/modules/minio_bucket/outputs.tf
  infrastructure/terraform/s3/modules/minio_bucket/variables.tf
  infrastructure/terraform/s3/ocis.tf
  infrastructure/terraform/s3/providers.tf
  infrastructure/terraform/s3/static-content.tf
  infrastructure/terraform/s3/tandoor.tf
  infrastructure/terraform/s3/thanos.tf
  infrastructure/terraform/s3/volsync.tf
Labels: none

re-add mayastor
  .archive/openebs/mayastor/ks.yaml
  kubernetes/main/apps/openebs-system/kustomization.yaml
  kubernetes/main/apps/openebs-system/mayastor/app/helmrelease.yaml
  kubernetes/main/apps/openebs-system/mayastor/app/kustomization.yaml
  kubernetes/main/apps/openebs-system/mayastor/config/diskpools.yaml
  kubernetes/main/apps/openebs-system/mayastor/config/kustomization.yaml
  kubernetes/main/apps/openebs-system/mayastor/config/storageclass.yaml
  kubernetes/main/apps/openebs-system/mayastor/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/openebs-system/mayastor/ks.yaml
Labels: area/kubernetes, cluster/main

add proxy for calibre web
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/system.tf
Labels: none

external access to calibre web via proxy
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

re-enable tf controller
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/s3.yaml
Labels: area/kubernetes, cluster/main

fix s3 terraform
  kubernetes/main/apps/flux-system/tf-controller/app/s3.yaml
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
Labels: area/kubernetes, cluster/main

disable tf controller
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

enable tf controller
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix authentik tf
  infrastructure/terraform/authentik/main.tf
Labels: none

disable forgejo oauth for now
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/main.tf
Labels: none

fix smtp-relay secret
  kubernetes/dns/apps/selfhosted/smtp-relay/app/externalsecret.yaml
Labels: area/kubernetes

revert authentik tf to doppler for now
  infrastructure/terraform/authentik/main.tf
Labels: none

revert authentik tf to doppler for now
  infrastructure/terraform/authentik/main.tf
Labels: none

fix smtp-relay domain
  kubernetes/dns/apps/selfhosted/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/tandoor/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test new s3 runner
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
  kubernetes/main/apps/infrastructure/kustomization.yaml
  kubernetes/main/apps/infrastructure/namespace.yaml
  kubernetes/main/apps/infrastructure/tf-controller/app/externalsecret.yaml
  kubernetes/main/apps/infrastructure/tf-controller/app/helmrelease.yaml
  kubernetes/main/apps/infrastructure/tf-controller/app/kustomization.yaml
  kubernetes/main/apps/infrastructure/tf-controller/ks.yaml
  kubernetes/main/apps/infrastructure/tf-controller/terraforms/authentik.yaml
  kubernetes/main/apps/infrastructure/tf-controller/terraforms/cloudflare.yaml
  kubernetes/main/apps/infrastructure/tf-controller/terraforms/s3.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/main

fix ks dependencies
  kubernetes/main/apps/infrastructure/tf-controller/ks.yaml
Labels: area/kubernetes, cluster/main

fix fs ns
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main
