Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*

fix ks namespace
  kubernetes/main/apps/infrastructure/tf-controller/ks.yaml
Labels: area/kubernetes, cluster/main

purge to clear crds
  kubernetes/main/apps/infrastructure/kustomization.yaml
Labels: area/kubernetes, cluster/main

maybe fix util cert?
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

maybe fix util cert?
  kubernetes/dns/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

fix key type for util cluster
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/dns/apps/network/ingress-nginx/shared/certificate.yaml
Labels: area/kubernetes

move cloudflare terraform to 1pass
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/domain_ingress.tf
  infrastructure/terraform/cloudflare/doppler.tf
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/providers.tf
  kubernetes/main/apps/infrastructure/kustomization.yaml
  kubernetes/main/apps/infrastructure/tf-controller/ks.yaml
  kubernetes/main/apps/infrastructure/tf-controller/terraforms/authentik.yaml
  kubernetes/main/apps/infrastructure/tf-controller/terraforms/cloudflare.yaml
Labels: area/kubernetes, cluster/main

undo ns change
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/authentik.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/cloudflare.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
  kubernetes/main/apps/infrastructure/kustomization.yaml
  kubernetes/main/apps/infrastructure/namespace.yaml
Labels: area/kubernetes, cluster/main

test new redlib image
  kubernetes/main/apps/selfhosted/redlib/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix tf ns
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/authentik.yaml
Labels: area/kubernetes, cluster/main

update authentik tf
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/doppler.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/oauth2_application/main.tf
  infrastructure/terraform/authentik/oauth2_application/variables.tf
  infrastructure/terraform/authentik/proxy_application/main.tf
  infrastructure/terraform/authentik/proxy_application/variables.tf
  infrastructure/terraform/authentik/stages.tf
  infrastructure/terraform/authentik/system.tf
Labels: none

fix more ns issues
  kubernetes/main/apps/flux-system/tf-controller/terraforms/authentik.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/cloudflare.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/s3.yaml
Labels: area/kubernetes, cluster/main

fix spegel
  kubernetes/dns/apps/system/spegel/ks.yaml
Labels: area/kubernetes

fix dns cluster certs
  kubernetes/dns/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/dns/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix unifi lb ip
  kubernetes/dns/apps/selfhosted/unifi/app/helmrelease.yaml
  kubernetes/dns/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix quality definitions for recyclarr
  kubernetes/main/apps/organizarrs/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

test fix immich
  kubernetes/main/apps/selfhosted/immich/app/microservices/helmrelease.yaml
  kubernetes/main/apps/selfhosted/immich/app/server/helmrelease.yaml
Labels: area/kubernetes, cluster/main

archive forgejo
  .archive/dev/forgejo/app/externalsecret.yaml
  .archive/dev/forgejo/app/helmrelease.yaml
  .archive/dev/forgejo/app/kustomization.yaml
  .archive/dev/forgejo/app/pvc.yaml
  .archive/dev/forgejo/app/resources/config.yaml
  .archive/dev/forgejo/ks.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/main

update rook options
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fixes
  .taskfiles/ExternalSecrets/Taskfile.yaml
  kubernetes/dns/apps/selfhosted/namespace.yaml
Labels: area/kubernetes, area/taskfile

fix spegel bootstrap
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/main

prep cluster for DR
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix ks dependencies
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/databases/cloudnative-pg/ks.yaml
  kubernetes/main/apps/databases/emqx/ks.yaml
  kubernetes/main/apps/databases/postgres-backup/ks.yaml
  kubernetes/main/apps/dev/actions-runner-controller/ks.yaml
  kubernetes/main/apps/dev/atuin/ks.yaml
  kubernetes/main/apps/dev/vscode/ks.yaml
  kubernetes/main/apps/flux-system/tf-controller/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/rtlamr2mqtt/ks.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/observability/gatus/ks.yaml
  kubernetes/main/apps/observability/grafana/ks.yaml
  kubernetes/main/apps/observability/loki/ks.yaml
  kubernetes/main/apps/observability/thanos/ks.yaml
  kubernetes/main/apps/organizarrs/animarr/ks.yaml
  kubernetes/main/apps/organizarrs/prowlarr/ks.yaml
  kubernetes/main/apps/organizarrs/radarr/ks.yaml
  kubernetes/main/apps/organizarrs/readarr/ks.yaml
  kubernetes/main/apps/organizarrs/sonarr/ks.yaml
  kubernetes/main/apps/security/authentik/ks.yaml
  kubernetes/main/apps/selfhosted/immich/ks.yaml
  kubernetes/main/apps/selfhosted/ocis/ks.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
  kubernetes/main/apps/selfhosted/redlib/ks.yaml
  kubernetes/main/apps/selfhosted/tandoor/ks.yaml
Labels: area/kubernetes, cluster/main

fix cnpg
  kubernetes/main/apps/databases/cloudnative-pg/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix pgadmin secret
  kubernetes/main/apps/databases/pgadmin/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

don't bootstrap cluster
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

maybe fix animarr?
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

maybe fix animarr?
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix prowlarr?
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix prowlarr?
  kubernetes/main/apps/organizarrs/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix animarr
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

more prowlarr fix
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update backups
  kubernetes/main/apps/databases/postgres-backup/app/externalsecret.yaml
  kubernetes/main/apps/databases/postgres-backup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

remove doppler from tf controller
  kubernetes/main/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

disable tf controller for now
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

update animarr
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/organizarrs/animarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix2
  kubernetes/main/apps/organizarrs/animarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update sonarr
  kubernetes/main/apps/organizarrs/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix prowlarr
  kubernetes/main/apps/organizarrs/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update lidarr
  kubernetes/main/apps/organizarrs/lidarr/app/externalsecret.yaml
  kubernetes/main/apps/organizarrs/lidarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main
