Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

frigate updates
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

test deploy keda scalers
  kubernetes/apps/downloads/animarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/readarr/ks.yaml
  kubernetes/apps/downloads/sabnzbd/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/media/calibre-web/ks.yaml
  kubernetes/apps/media/calibre/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/system/volsync/ks.yaml
Labels: area/kubernetes

fix plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

maybe frigate works now?
  kubernetes/apps/home/frigate/ks.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

maybe fix gatus
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

archive whoogle
  .archive/selfhosted/whoogle/app/helmrelease.yaml
  .archive/selfhosted/whoogle/app/kustomization.yaml
  .archive/selfhosted/whoogle/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

switch to mosquitto
  .archive/home-automation/emqx/app/externalsecret.yaml
  .archive/home-automation/emqx/app/helmrelease.yaml
  .archive/home-automation/emqx/app/kustomization.yaml
  .archive/home-automation/emqx/app/ocirepository.yaml
  .archive/home-automation/emqx/cluster/cluster.yaml
  .archive/home-automation/emqx/cluster/kustomization.yaml
  .archive/home-automation/emqx/ks.yaml
  .archive/home-automation/mosquitto/app/config/mosquitto.conf
  .archive/home-automation/mosquitto/app/externalsecret.yaml
  .archive/home-automation/mosquitto/app/helmrelease.yaml
  .archive/home-automation/mosquitto/app/kustomization.yaml
  .archive/home-automation/mosquitto/app/patches/kustomizeconfig.yaml
  .archive/home-automation/mosquitto/app/pvc.yaml
  .archive/home-automation/mosquitto/app/volsync.yaml
  .archive/home-automation/mosquitto/ks.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/home/frigate/app/config.yaml
  kubernetes/apps/home/frigate/app/externalsecret.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/gatus.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/pvc.yaml
  kubernetes/apps/home/mosquitto/ks.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

remove device id from rtlamr2mqtt as per breaking changes
  kubernetes/apps/home/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

fix rtlamr for real
  kubernetes/apps/home/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/apps/home/rtlamr2mqtt/app/kustomization.yaml
Labels: area/kubernetes

fix rtlamr2mqtt
  kubernetes/apps/home/rtlamr2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

don't throw away plex logs anymore
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

test a fix for plex
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

update renovate config
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/overrides.json5
  .renovate/packageRules.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  tools/volume-debugger.yaml
Labels: area/github, area/kubernetes

maybe fix ghar
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/k8s-home-ops.yaml
Labels: area/kubernetes

fix frigate
  kubernetes/apps/home/frigate/app/kustomization.yaml
  kubernetes/apps/home/frigate/app/resources/config.yaml
  kubernetes/apps/home/frigate/ks.yaml
Labels: area/kubernetes

update volsync
  kubernetes/apps/system/volsync/app/ocirepository.yaml
Labels: area/kubernetes

update mutating admission policy
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

fix volsync
  kubernetes/apps/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

less privileges for volsync
  kubernetes/apps/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes

oops
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

add kopia to test
  kubernetes/apps/system/kopia/app/externalsecret.yaml
  kubernetes/apps/system/kopia/app/helmrelease.yaml
  kubernetes/apps/system/kopia/app/kustomization.yaml
  kubernetes/apps/system/kopia/app/resources/repository.config
  kubernetes/apps/system/kopia/ks.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/system/kopia/ks.yaml
  kubernetes/apps/system/volsync/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/system/kopia/app/externalsecret.yaml
Labels: area/kubernetes

fix2
  kubernetes/apps/system/kopia/app/kustomization.yaml
Labels: area/kubernetes

fix2
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

fix versioning for lanraragi (hopefully)
  .renovate/packageRules.json5
Labels: none

hopefully fix alertmanager notifications
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update frigate nfs mount
  kubernetes/apps/home/frigate/app/helmrelease.yaml
Labels: area/kubernetes

remove backendRefs as apptemplate handles them automagically
  kubernetes/apps/ai/open-webui/app/helmrelease.yaml
  kubernetes/apps/ai/paperless-ai/app/helmrelease.yaml
  kubernetes/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/apps/databases/pgadmin/app/helmrelease.yaml
  kubernetes/apps/downloads/animarr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/readarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/lanraragi/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/cyberchef/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/server/helmrelease.yaml
  kubernetes/apps/selfhosted/mealie/app/helmrelease.yaml
  kubernetes/apps/selfhosted/openspeedtest/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/redlib/app/helmrelease.yaml
  kubernetes/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/apps/selfhosted/teddit/app/helmrelease.yaml
Labels: area/kubernetes

add code server to home assistant
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add code server to home assistant
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
Labels: area/kubernetes

fix plex route
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix plex route
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

add load balancer to home assistant
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

delete duplicate mount entry
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add token for vscode server
  kubernetes/apps/home/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

archive tandoor
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/tandoor/app/configmap.yaml
  kubernetes/apps/selfhosted/tandoor/app/externalsecret.yaml
  kubernetes/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/apps/selfhosted/tandoor/app/kustomization.yaml
  kubernetes/apps/selfhosted/tandoor/ks.yaml
Labels: area/kubernetes

add metrics to authentik
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
Labels: area/kubernetes

modify kopia secret
  .archive/selfhosted/tandoor/app/configmap.yaml
  .archive/selfhosted/tandoor/app/externalsecret.yaml
  .archive/selfhosted/tandoor/app/helmrelease.yaml
  .archive/selfhosted/tandoor/app/kustomization.yaml
  .archive/selfhosted/tandoor/ks.yaml
  kubernetes/apps/system/kopia/app/externalsecret.yaml
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
