Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix4
  kubernetes/main/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix5
  kubernetes/main/apps/observability/loki/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

hope this doesn't break the cluster
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/talos/clusterconfig/.gitignore
Labels: area/kubernetes, cluster/main

add server to csr approver
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

stupid windows and its stupid case insensitivity
  .taskfiles/ExternalSecrets/Taskfile.yaml
Labels: area/taskfile

add back nvidia device plugin
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrepository.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

test fix
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test fix 2
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test fix 3
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test fix 4
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update nfd
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

revert
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test 5
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test 6
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test 7
  kubernetes/main/apps/system/kustomization.yaml
Labels: area/kubernetes, cluster/main

test 8
  kubernetes/main/apps/system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

test 9
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test 10
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/system/nvidia-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

fix rook
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix nfd
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/ocirepository.yaml
Labels: area/kubernetes, cluster/main

test
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test 2
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test nvidia plugin again
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

re-add runtimeclass
  kubernetes/main/apps/system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/runtimeclass.yaml
Labels: area/kubernetes, cluster/main

test workload for AI
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix ollama
  kubernetes/main/apps/ai/ollama/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

misc
  kubernetes/main/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/main/apps/system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

addd more ai workloads for testing
  kubernetes/main/apps/ai/kustomization.yaml
  kubernetes/main/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/main/apps/ai/swarmui/app/externalsecret.yaml
  kubernetes/main/apps/ai/swarmui/app/helmrelease.yaml
  kubernetes/main/apps/ai/swarmui/app/kustomization.yaml
  kubernetes/main/apps/ai/swarmui/app/pvc.yaml
  kubernetes/main/apps/ai/swarmui/ks.yaml
Labels: area/kubernetes, cluster/main

don't enable workloads until gpu node is up
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

test new plex to see if it works
  kubernetes/main/apps/media/plex2/app/helmrelease.yaml
  kubernetes/main/apps/media/plex2/app/kustomization.yaml
  kubernetes/main/apps/media/plex2/app/pvc.yaml
  kubernetes/main/apps/media/plex2/ks.yaml
Labels: area/kubernetes, cluster/main

enable
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/media/plex2/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix2
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

undo
  .taskfiles/k8s/Taskfile.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

undo test
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/plex2/app/helmrelease.yaml
  kubernetes/main/apps/media/plex2/app/kustomization.yaml
  kubernetes/main/apps/media/plex2/app/pvc.yaml
  kubernetes/main/apps/media/plex2/ks.yaml
Labels: area/kubernetes, cluster/main

add dns resolve for pikvm3
  kubernetes/dns/apps/selfhosted/bind/app/resources/zones/db.ctec.run
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/ai/open-webui/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

enable more ai workloads
  kubernetes/main/apps/ai/kustomization.yaml
Labels: area/kubernetes, cluster/main

fixes
  kubernetes/main/apps/ai/paperless-ai/app/helmrelease.yaml
  kubernetes/main/apps/ai/swarmui/app/pvc.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
