Repository cbc02009/k8s-home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform, cluster/main, cluster/nas

fix weave gitops maybe
  kubernetes/main/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

enable frigate and home assistant
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix redlib?
  kubernetes/main/apps/selfhosted/redlib/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

make 3 metadata servers for rook?
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable weave gitops for now
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/main

update filesystem storage class
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

restore from r2
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

fix rook ceph
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

increment k8s version
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

disable minio backup for now
  kubernetes/main/templates/volsync/minio/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix calibre-web backups
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/pvc.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync.yaml
  kubernetes/main/apps/media/calibre-web/ks.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix maybe
  kubernetes/main/apps/media/calibre-web/ks.yaml
Labels: area/kubernetes, cluster/main

fix
  kubernetes/main/apps/media/calibre-web/ks.yaml
Labels: area/kubernetes, cluster/main

remove deps
  kubernetes/main/apps/media/calibre-web/ks.yaml
Labels: area/kubernetes, cluster/main

fix calibre-web for real
  kubernetes/main/apps/media/calibre-web/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

update static bind records
  kubernetes/dns/apps/network/bind/app/resources/zones/db.ctec.run
Labels: area/kubernetes

disable frigate gatus until I figure out what's wrong
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

attempt fix
  kubernetes/main/apps/home-automation/frigate/app/config.yaml
Labels: area/kubernetes, cluster/main

oops
  kubernetes/main/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

update bind address
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

updates for dns cluster reboot
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/dns/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

undo changes to edns
  kubernetes/main/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

dns cluster updates
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/system-controllers/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/dns/bootstrap/talos/apply-clusterconfig.sh
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

fixes
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/dns/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/dns/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/dns/bootstrap/talos/talconfig.yaml
  kubernetes/dns/bootstrap/talos/update-clusterconfig.sh
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix cert-manager
  kubernetes/dns/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix spegel
  kubernetes/dns/apps/system/spegel/app/helm-values.yaml
  kubernetes/dns/apps/system/spegel/app/helmrelease.yaml
  kubernetes/dns/flux/repositories/helm/kustomization.yaml
  kubernetes/dns/flux/repositories/helm/spegel.yaml
  kubernetes/main/apps/system/spegel/app/helm-values.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix descheduler
  kubernetes/dns/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

disable spegel for now
  kubernetes/dns/apps/system/kustomization.yaml
Labels: area/kubernetes

fix cilium
  kubernetes/dns/bootstrap/talos/integrations/helmfile.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/bootstrap/talos/integrations/helmfile.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fixes
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Rook/resources/rook-data-job.tmpl.yaml
  .taskfiles/Rook/resources/rook-disk-job.tmpl.yaml
  .taskfiles/Rook/resources/wait-for-job.sh
  Taskfile.yml
  kubernetes/main/apps/databases/emqx/app/externalsecret.yaml
  kubernetes/main/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/main/apps/databases/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/databases/emqx/cluster/resources/init-mqtt.py
  kubernetes/main/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

update cert manager
  kubernetes/main/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes, cluster/main

fix for qbt tunnel
  kubernetes/main/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/main/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/main/apps/system/generic-device-plugin/ks.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-nfd.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

downgrade cert-manager
  kubernetes/dns/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

increment cnpg
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

inc cnpg
  .taskfiles/Rook/resources/rook-disk-job.tmpl.yaml
  kubernetes/main/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

updates to cert-manager
  .taskfiles/Rook/resources/rook-disk-job.tmpl.yaml
  kubernetes/dns/flux/repositories/helm/spegel.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/main/apps/cert-manager/certificates/export/certificates.yaml
  kubernetes/main/apps/cert-manager/certificates/export/kustomization.yaml
  kubernetes/main/apps/cert-manager/certificates/export/pushsecret.yaml
  kubernetes/main/apps/cert-manager/certificates/import/externalsecret.yaml
  kubernetes/main/apps/cert-manager/certificates/import/kustomization.yaml
  kubernetes/main/apps/cert-manager/certificates/ks.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/databases/emqx/cluster/cluster.yaml
  kubernetes/main/apps/network/certificates/app/externalsecret.yaml
  kubernetes/main/apps/network/certificates/app/kustomization.yaml
  kubernetes/main/apps/network/certificates/ks.yaml
  kubernetes/main/apps/network/ingress-nginx/certificates/externalsecret.yaml
  kubernetes/main/apps/network/ingress-nginx/certificates/kustomization.yaml
  kubernetes/main/apps/network/ingress-nginx/ks.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/certificate-staging.yaml
  kubernetes/main/apps/network/ingress-nginx/shared/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/main/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/main/apps/system/democratic-csi/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/spegel.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
      - any-glob-to-any-file: terraform/main/**/*
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas/**/*
